#wmpotify-dpip-corporate {
    background: black;
    margin: 0;
    user-select: none;

    #topbar {
        background: url('resources/skin/corporate/topbar_bgstrip.png') repeat-x;
        height: 13px;
        -webkit-app-region: drag;

        #topbar-right {
            background: url('resources/skin/corporate/topbar_right_bg.png') no-repeat;
            width: 102px;
            height: 13px;
            position: absolute;
            top: 0;
            right: 0;
            -webkit-app-region: no-drag;

            button {
                appearance: none;
                width: 16px;
                height: 13px;
                border: none;
                position: absolute;
                top: 0;
            }

            #lyrics-button {
                background: url('resources/skin/corporate/lyrics.png') no-repeat;
                right: 62px;

                &:hover {
                    background: url('resources/skin/corporate/lyrics_hover.png') no-repeat;
                }

                &:active,
                &.active {
                    background: url('resources/skin/corporate/lyrics_active.png') no-repeat;
                }
            }

            #return-button {
                background: url('resources/skin/corporate/return.png') no-repeat;
                right: 36px;

                &:hover {
                    background: url('resources/skin/corporate/return_hover.png') no-repeat;
                }

                &:active {
                    background: url('resources/skin/corporate/return_pressed.png') no-repeat;
                }
            }


            #close-button {
                background: url('resources/skin/corporate/close.png') no-repeat;
                right: 12px;

                &:hover {
                    background: url('resources/skin/corporate/close_hover.png') no-repeat;
                }

                &:active {
                    background: url('resources/skin/corporate/close_pressed.png') no-repeat;
                }
            }
        }
    }

    #main {
        height: calc(100% - 70px);
    }

    #playerbar {
        background: url('resources/skin/corporate/playerbar_bgstrip.png') repeat-x;
        height: 57px;
    }
}