section[data-testid="album-page"] {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 23.3px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
        top: 29px !important;

        .main-trackList-trackListHeaderRow {
            height: 25px;
            grid-gap: 0;

            .main-trackList-sortable,
            .main-trackList-rowSectionIndex > div {
                color: #77797d;
            }

            > div {
                border-image: url('resources/ui/listview_header.png') 0 2 1 2 fill stretch;
                border-image-width: 0 2px 1px 2px;
                padding-left: 5px;

                > div {
                    width: 100%;
                    span {
                        text-align: left;
                    }
                }
            }

            .main-trackList-rowSectionIndex {
                min-width: 30px;
            }

            .main-trackList-rowSectionEnd .main-trackList-durationHeader {
                justify-content: flex-start;
            }
        }
    }

    .main-trackList-trackListRow {
        > div {
            padding-left: 5px;
        }

        .main-trackList-rowSectionStart img {
            border-radius: 0 !important;
            box-shadow: var(--album-shadow-small);
        }

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    button.x-sortBox-sortDropdown {
        color: black;
        padding: 0;
        gap: 0;
        order: -1;

        .encore-text {
            order: 1;
            font-size: 12px;
        }

        &::before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            margin-top: 1px;
            margin-left: 2px;
            margin-right: 3px;
            background: url('resources/icon/list.png') no-repeat;
        }

        svg {
            display: none;
        }

        &::after {
            content: 'â·';
            font-size: 12px;
            color: black;
            margin-top: -2px;
            margin-left: 4px;
            margin-right: -2px;
            order: 2;
            inline-size: unset;
        }
    }

    &:has(.main-rootlist-wrapper[style*="row-height: 32"]) {
        .playlist-playlist-searchBoxContainer {
            button.x-sortBox-sortDropdown::before {
                background-image: url('resources/icon/compact.png');
            }
        }
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: url('resources/playerbar/play.png') no-repeat;

            &:hover {
                background-image: url('resources/playerbar/play_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_pressed.png');
            }

            span {
                opacity: 0;
            }
        }
    }

    div[style*="background-base:"] {
        background: var(--wmp11-window);
    }

    &.playing {
        .main-actionBar-ActionBarRow > div:first-child button {
            background-image: url('resources/playerbar/pause.png') !important;

            &:hover {
                background-image: url('resources/playerbar/pause_hover.png') !important;
            }

            &:active {
                background-image: url('resources/playerbar/pause_pressed.png') !important;
            }
        }
    }

    /* Bottom recommendations */
    .main-shelf-shelfGrid {
        > div {
            border: solid 1px transparent;
            border-radius: 3px;

            &::after {
                display: none;
            }

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }
        }
    }

    .main-card-imageContainer {
        > div:first-child {
            border-radius: 0;
            box-shadow: var(--album-shadow-big);

            img {
                border-radius: 0;
            }
        }

        .main-card-PlayButtonContainer {
            button {
                width: 42px;
                height: 43px;
                background: url('resources/playerbar/play.png') no-repeat;

                &:hover {
                    background-image: url('resources/playerbar/play_hover.png');
                }

                &:active {
                    background-image: url('resources/playerbar/play_pressed.png');
                }

                span {
                    opacity: 0;
                }
            }

            &.main-card-PlayButtonContainerVisible { /* Currently playing playlist - show pause button */
                button {
                    background-image: url('resources/playerbar/pause.png') ;

                    &:hover {
                        background-image: url('resources/playerbar/pause_hover.png');
                    }

                    &:active {
                        background-image: url('resources/playerbar/pause_pressed.png');
                    }
                }
            }
        }
    }
}

.Root__main-view:has(section[data-testid="album-page"]) {
    header {
        width: calc(100% - var(--scrollbar-size)) !important;

        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window);
        }

        .contentSpacing {
            padding: 8px;
        }

        button {
            width: 24px;
            height: 24px;
            border-radius: 0;
            background: url('resources/playerbar/play_31.png') 0 0 / contain no-repeat;
            margin-top: -3px;

            &:hover {
                background-image: url('resources/playerbar/play_31_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_31_pressed.png');
            }

            span {
                opacity: 0;
            }
        }

        .main-entityHeader-topbarTitle {
            font-size: 12px;
            font-family: var(--ui-font);
        }
    }

    &:has(.playlist-playlist-playlist.playing) header button {
        background-image: url('resources/playerbar/pause_31.png') !important;

        &:hover {
            background-image: url('resources/playerbar/pause_31_hover.png') !important;
        }

        &:active {
            background-image: url('resources/playerbar/pause_31_pressed.png') !important;
        }
    }
}

:root[data-wmpotify-style="xp"] body[data-hide-libx] {
    .Root__main-view:has(section[data-testid="album-page"]) {
        header {
            left: var(--panel-gap);
        }
    }
}

/* Sort and view picker in playlist page */
ul[id*="sortboxlist-"] {
    li:last-child {
        button {
            margin-bottom: 0 !important;
        }
    }

    button:has(svg:not(:first-child)) {
        svg:first-child {
            display: none;
        }
    }
}