section[data-testid="artist-page"] {
    .main-entityHeader-headerText * {
        text-shadow: var(--aero-text-glow);
        h1 {
            text-shadow: none;
        }
    }

    .main-actionBar-ActionBarRow {
        > span:first-child > div:first-child button {
            width: 42px;
            height: 43px;
            background: url('resources/playerbar/play.png') no-repeat;

            &:hover {
                background-image: url('resources/playerbar/play_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_pressed.png');
            }

            span {
                opacity: 0;
            }
        }
    }

    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        display: none;
    }

    div[style*="background-base:"] {
        background: var(--wmp11-window);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    > div > div:last-child > .contentSpacing > div:last-child {
        /* Artist about button with background image */
        button[style*="i.scdn.co"] div * {
            color: white;
        }

        > div:last-child {
            p[class*=encore-text] {
                color: black;
            }
        }
    }
}

.Root__main-view:has(section[data-testid="artist-page"]) {
    header:not(:has(.artist-artistDiscography-topBar)) {
        width: calc(100% - var(--scrollbar-size)) !important;

        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
            background: var(--wmp11-window);
        }

        .main-topBar-overlay {
            opacity: 0;
        }

        .contentSpacing {
            padding: 8px;
        }

        button {
            width: 24px;
            height: 24px;
            border-radius: 0;
            background: url('resources/playerbar/play_31.png') 0 0 / contain no-repeat;
            margin-top: -3px;

            &:hover {
                background-image: url('resources/playerbar/play_31_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_31_pressed.png');
            }

            span {
                opacity: 0;
            }
        }

        .main-entityHeader-topbarTitle {
            font-size: 12px;
            font-family: var(--ui-font);
        }
    }
}