section[data-testid="artist-page"] {
    > .contentSpacing {
        padding: 0;
    }

    .artist-artistDiscography-topBar {
        position: fixed;
        height: 28px;
        top: 36px;
        left: 0;
        width: calc(100% - var(--main-area-right));
        border-bottom: solid 1px var(--wmp11-separator-shadow);
        box-shadow: none !important;

        .artist-artistDiscography-artistName {
            margin-left: 8px;
            font-size: 12px;
            font-family: var(--ui-font);
        }

        .artist-artistDiscography-button {
            width: 28px;
            margin-left: 0;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 1px;
                width: 16px;
                height: 16px;
                background: url('resources/icon/list_discography.png') no-repeat;
            }

            &:last-child::after {
                background-image: url('resources/icon/grid.png');
            }

            svg {
                display: none;
            }
        }
    }

    .artist-artistDiscography-headerContainer {
        padding: 0;
        clear: both;
        float: left;
        width: 240px;
        position: relative;
        z-index: 1;

        .artist-artistDiscography-headerImage {
            width: 96px;
            height: 96px;
            margin-left: 4px;
        }

        .artist-artistDiscography-headerMetadata {
            width: 136px;
            margin-inline-start: 10px;

            * {
                color: black;
                font-size: 12px;
            }
    
            a {
                &:hover {
                    color: var(--hot-tracking-color);
                }
            }

            .artist-artistDiscography-headerTitle {
                display: block;
                font-size: 12px;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            div[style*="text-subdued"] {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 0;

                span[data-separator="true"] {
                    display: none;
                }
            }

            .artist-artistDiscography-headerButtons {
                display: none;
            }
        }
    }

    .artist-artistDiscography-tracklist {
        position: relative;
        min-height: 100px;
        margin-top: 21px;

        .wmpotify-discography-trackList-header {
            position: absolute;
            display: flex;
            top: -21px;
            left: 0;
            width: 100%;
            height: 20px;
            font-size: 12px;
            color: #003399;
            white-space: nowrap;
            border: solid 1px transparent;
            border-radius: 3px;
            padding-left: 11px;

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #a6b9dd;
                margin-top: 8px;
                margin-left: 4px;
                margin-right: 9px;
            }
        }

        .main-trackList-trackListHeader {
            display: none; /* Only show first album header */
        }

        /*.main-rootlist-wrapper {
            height: unset !important;
            contain: layout;
        }*/

        [role="row"] {
            height: var(--queue-item-height);
        }

        .main-trackList-trackListRow {
            height: var(--queue-item-height);

            > div {
                height: var(--queue-item-height);
                padding-left: 5px;
            }

            .main-trackList-rowSectionStart img {
                border-radius: 0 !important;
                box-shadow: var(--album-shadow-small);
            }

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            * {
                font-family: var(--ui-font) !important;
                font-size: 12px !important;
            }

            div.encore-text {
                margin-top: -4px;
            }

            .main-trackList-rowSectionVariable {
                margin-top: -2px;
            }

            .main-trackList-rowMarker {
                margin-top: 4px;
                span {
                    display: inline !important;
                }
                button {
                    display: none;
                }
            }
        }

        .main-rootlist-bottomSentinel {
            display: none;
        }
    }

    .artist-artistDiscography-firstAlbum {
        & + .artist-artistDiscography-tracklist {
            margin-top: 46px;
            margin-bottom: 44px;

            .main-trackList-trackListHeader {
                display: block;
                background: none !important;
                border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
                border-image-width: 0 0 1px 2px;
                height: 23.3px;
                box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
                position: fixed;
                top: 65px !important;
                left: 0;
                margin: 0;
                padding: 0;
                width: calc(100% - var(--main-area-right) - var(--scrollbar-size));

                .main-trackList-trackListHeaderRow {
                    margin-left: 240px;
                    height: 25px;
                    grid-gap: 0;

                    .main-trackList-sortable,
                    .main-trackList-rowSectionIndex > div {
                        color: #77797d;
                    }

                    > div {
                        border-image: url('resources/ui/listview_header.png') 0 2 1 2 fill stretch;
                        border-image-width: 0 2px 1px 2px;
                        padding-left: 5px;
        
                        > div {
                            width: 100%;
                            span {
                                text-align: left;
                            }
                        }
                    }

                    .main-trackList-column {
                        justify-content: flex-start;
                    }

                    .main-trackList-rowSectionIndex {
                        min-width: 30px;
                    }
        
                    .main-trackList-rowSectionEnd .main-trackList-durationHeader {
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}

.Root__main-view:has(section .artist-artistDiscography-topBar) {
    header {
        display: flex !important;
        position: relative !important;
        width: 100% !important;
        border-bottom: solid 1px var(--wmp11-separator-shadow);
        outline: solid 1px var(--wmp11-separator-light) !important;
        z-index: -1;

        .main-topBar-topbarContent {
            display: none;
        }
    }
}