.main-home-homeHeader {
    background: transparent !important;
}

.main-home-filterChipsSection {
    background: var(--wmp11-window) !important;

    &::after {
        background: var(--wmp11-window) !important;
    }
}

.main-home-content {
    .view-homeShortcutsGrid-shortcut {
        border: solid 1px transparent;
        border-radius: 3px;

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }

        .view-homeShortcutsGrid-imageContainer {
            padding: 4px;
            margin-top: -1px;

            .view-homeShortcutsGrid-imageWrapper {
                box-shadow: var(--album-shadow-small);
            }
        }

        &:hover,
        &:focus-within {
            .view-homeShortcutsGrid-PlayButtonContainer button {
                background: url('resources/playerbar/play.png') center / cover no-repeat;
                border-radius: 0;
    
                &:hover {
                    background-image: url('resources/playerbar/play_hover.png');
                }
    
                &:active {
                    background-image: url('resources/playerbar/play_pressed.png');
                }
    
                span {
                    opacity: 0;
                }
            }
    
            .view-homeShortcutsGrid-main:has(.view-homeShortcutsGrid-trailingIndicator) {
                .view-homeShortcutsGrid-PlayButtonContainer button {
                    background: url('resources/playerbar/pause.png') center / cover no-repeat;
                    border-radius: 0;
    
                    &:hover {
                        background-image: url('resources/playerbar/pause_hover.png');
                    }
    
                    &:active {
                        background-image: url('resources/playerbar/pause_pressed.png');
                    }
                }
            }
        }
    }

    /* Picked for you, etc. */
    section:not(.main-shelf-shelfGrid):not(.view-homeShortcutsGrid-shortcuts) {
        a:has(div[class*="PromotionDefaultNative-"]) {
            border: solid 1px transparent;
            border-radius: 3px;

            &::after {
                display: none;
            }

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            div[class*="PromotionDefaultNative-module_image-container"],
            div[class*="PromotionDefaultNativeImage-module_image-container"] {
                border-radius: 0;
                box-shadow: var(--album-shadow-big);
            }

            div[class*="PromotionDefaultNative-module_footer-area"] {
                > span[data-encore-id="overlayTrigger"]:first-child {
                    button {
                        background: url('resources/playerbar/play.png') center / cover no-repeat;
                        border-radius: 0;
        
                        &:hover {
                            background-image: url('resources/playerbar/play_hover.png');
                        }
        
                        &:active {
                            background-image: url('resources/playerbar/play_pressed.png');
                        }
        
                        span {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    .main-shelf-shelfGrid > div,
    .search-searchCategory-categoryGrid > div[role="presentation"] > div { /* home carousel */
        border: solid 1px transparent;
        border-radius: 3px;

        &::after {
            display: none;
        }

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }
    }

    .main-card-imageContainer {
        > div:first-child {
            border-radius: 0;
            box-shadow: var(--album-shadow-big);

            img {
                border-radius: 0;
            }
        }

        .main-card-PlayButtonContainer {
            button {
                width: 42px;
                height: 43px;
                background: url('resources/playerbar/play.png') no-repeat;

                &:hover {
                    background-image: url('resources/playerbar/play_hover.png');
                }

                &:active {
                    background-image: url('resources/playerbar/play_pressed.png');
                }

                span {
                    opacity: 0;
                }
            }

            &.main-card-PlayButtonContainerVisible { /* Currently playing playlist - show pause button */
                button {
                    background-image: url('resources/playerbar/pause.png') ;

                    &:hover {
                        background-image: url('resources/playerbar/pause_hover.png');
                    }

                    &:active {
                        background-image: url('resources/playerbar/pause_pressed.png');
                    }
                }

            }
        }
    }
}