.playlist-playlist-playlist {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 23px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 

        .main-trackList-trackListHeaderRow {
            height: 25px;
            grid-gap: 0;

            .main-trackList-sortable,
            .main-trackList-rowSectionIndex > div {
                color: #77797d;
            }

            > div {
                border-image: url('resources/ui/listview_header.png') 0 2 1 2 fill stretch;
                border-image-width: 0 2px 1px 2px;
                padding-left: 5px;

                &:has(button) {
                    &:focus-within {
                        border-image-source: url('resources/ui/listview_header_selected.png');
                    }

                    &:hover {
                        border-image-source: url('resources/ui/listview_header_hover.png');
                    }

                    &:active {
                        border-image-source: url('resources/ui/listview_header_pressed.png');
                    }
                }

                > div {
                    width: 100%;
                    button {
                        width: 100%;
                        justify-content: flex-start;

                        .Svg-img-icon-small-textBrightAccent {
                            fill: black !important;
                            order: 1;
                            width: 11px;
                            margin-top: -2px;
                        }
                    }
                }
            }

            .main-trackList-rowSectionIndex {
                min-width: 30px;
            }
        }
    }

    .main-trackList-trackListRow {
        > div {
            padding-left: 5px;
        }

        .main-trackList-rowSectionStart img {
            border-radius: 0 !important;
            box-shadow: var(--album-shadow-small);
        }

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    .playlist-playlist-searchBoxContainer {
        span, svg, input {
            color: var(--text-subdued);
        }
        input::placeholder {
            color: var(--gray-text);
        }
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: url('resources/playerbar/play.png') no-repeat;

            &:hover {
                background-image: url('resources/playerbar/play_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_pressed.png');
            }

            span {
                opacity: 0;
            }
        }
    }

    &.playing {
        .main-actionBar-ActionBarRow > div:first-child button {
            background-image: url('resources/playerbar/pause.png') !important;

            &:hover {
                background-image: url('resources/playerbar/pause_hover.png') !important;
            }

            &:active {
                background-image: url('resources/playerbar/pause_pressed.png') !important;
            }
        }
    }
}

.Root__main-view:has(.playlist-playlist-playlist) {
    header {
        height: 62px;

        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));
    
            .main-topBar-overlay {
                background: var(--wmp11-window);
            }
        }

        button {
            width: 42px;
            height: 43px;
            background: url('resources/playerbar/play.png') no-repeat;

            &:hover {
                background-image: url('resources/playerbar/play_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_pressed.png');
            }

            span {
                opacity: 0;
            }
        }
    }

    &:has(.playlist-playlist-playlist.playing) header button {
        background-image: url('resources/playerbar/pause.png') !important;

        &:hover {
            background-image: url('resources/playerbar/pause_hover.png') !important;
        }

        &:active {
            background-image: url('resources/playerbar/pause_pressed.png') !important;
        }
    }
}