.playlist-playlist-playlist {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 23.3px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0; 
        top: 29px !important;

        .main-trackList-trackListHeaderRow {
            height: 25px;
            grid-gap: 0;

            .main-trackList-sortable,
            .main-trackList-rowSectionIndex > div {
                color: #77797d;
            }

            > div {
                border-image: url('resources/ui/listview_header.png') 0 2 1 2 fill stretch;
                border-image-width: 0 2px 1px 2px;
                padding-left: 5px;

                &:has(button) {
                    &:focus-within {
                        border-image-source: url('resources/ui/listview_header_selected.png');
                    }

                    &:hover {
                        border-image-source: url('resources/ui/listview_header_hover.png');
                    }

                    &:active {
                        border-image-source: url('resources/ui/listview_header_pressed.png');
                    }
                }

                > div {
                    width: 100%;
                    button {
                        width: 100%;
                        justify-content: flex-start;

                        .Svg-img-icon-small-textBrightAccent {
                            fill: black !important;
                            order: 1;
                            width: 11px;
                            margin-top: -2px;
                        }
                    }
                }
            }

            .main-trackList-rowSectionIndex {
                min-width: 30px;
            }
        }
    }

    .main-trackList-trackListRow {
        > div {
            padding-left: 5px;
        }

        .main-trackList-rowSectionStart img {
            border-radius: 0 !important;
            box-shadow: var(--album-shadow-small);
        }

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }
    }

    div[style*="--text-subdued"] span {
        color: var(--gray-text);
    }

    .playlist-playlist-searchBoxContainer {
        [role="search"] {
            margin: 2px;
            width: 225px;
            height: 24px;
            border: solid 1px #f4f7fc;
            background: linear-gradient(to bottom, #5e5f61, #c0c3c6);
            margin-top: -1px;

            .x-filterBox-filterInput {
                position: absolute;
                top: 0;
                margin: 1px;
                width: calc(100% - 2px);
                height: 20px;
                border: solid 1px white;
                background-color: #f6f9fc;
                font-size: 12px;
                border-radius: 0;
                min-height: 0;
                padding-inline: 4px;
                box-shadow: none;
                opacity: 1;
            }

            .x-filterBox-overlay {
                opacity: 1;

                .x-filterBox-searchIconContainer {
                    position: absolute;
                    top: 1px;
                    right: 0px;
                    width: 26px;
                    height: 20px;
                    border: none;
                    background: url('resources/topbar/search.png') no-repeat;
                }

                &:has(.x-filterBox-clearButton) .x-filterBox-searchIconContainer {
                    display: none;
                }

                .x-filterBox-clearButton {
                    position: absolute;
                    top: 1px;
                    right: 0px;
                    width: 26px;
                    height: 20px;
                    border: none;
                    background: url('resources/topbar/clear.png') no-repeat;

                    &:hover {
                        background: url('resources/topbar/clear_hover.png') no-repeat;
                    }

                    &:active {
                        background: url('resources/topbar/clear_pressed.png') no-repeat;
                    }
                }

                svg {
                    display: none;
                }
            }

            .x-filterBox-expandButton {
                display: none;
            }
        }

        button.x-sortBox-sortDropdown {
            color: black;
            padding: 0;
            gap: 0;
            order: -1;

            .encore-text {
                order: 1;
                font-size: 12px;
            }

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                margin-top: 1px;
                margin-left: 2px;
                margin-right: 3px;
                background: url('resources/icon/list.png') no-repeat;
            }

            svg {
                display: none;
            }

            &::after {
                content: 'â·';
                font-size: 12px;
                color: black;
                margin-top: -2px;
                margin-left: 4px;
                margin-right: -2px;
                order: 2;
                inline-size: unset;
            }
        }

        span, svg, input {
            color: var(--text-subdued);
        }
        input::placeholder {
            color: var(--gray-text);
            font-style: italic;
        }
    }

    &:has(.main-rootlist-wrapper[style*="row-height: 32"]) {
        .playlist-playlist-searchBoxContainer {
            button.x-sortBox-sortDropdown::before {
                background-image: url('resources/icon/compact.png');
            }
        }
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: url('resources/playerbar/play.png') no-repeat;

            &:hover {
                background-image: url('resources/playerbar/play_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_pressed.png');
            }

            span {
                opacity: 0;
            }
        }
    }

    &.playing {
        .main-actionBar-ActionBarRow > div:first-child button {
            background-image: url('resources/playerbar/pause.png') !important;

            &:hover {
                background-image: url('resources/playerbar/pause_hover.png') !important;
            }

            &:active {
                background-image: url('resources/playerbar/pause_pressed.png') !important;
            }
        }
    }

    /* Bottom recommendations */
    .main-shelf-shelfGrid {
        > div {
            border: solid 1px transparent;
            border-radius: 3px;

            &::after {
                display: none;
            }

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }
        }
    }

    .main-card-imageContainer {
        > div:first-child {
            border-radius: 0;
            box-shadow: var(--album-shadow-big);

            img {
                border-radius: 0;
            }
        }

        .main-card-PlayButtonContainer {
            button {
                width: 42px;
                height: 43px;
                background: url('resources/playerbar/play.png') no-repeat;

                &:hover {
                    background-image: url('resources/playerbar/play_hover.png');
                }

                &:active {
                    background-image: url('resources/playerbar/play_pressed.png');
                }

                span {
                    opacity: 0;
                }
            }

            &.main-card-PlayButtonContainerVisible { /* Currently playing playlist - show pause button */
                button {
                    background-image: url('resources/playerbar/pause.png') ;

                    &:hover {
                        background-image: url('resources/playerbar/pause_hover.png');
                    }

                    &:active {
                        background-image: url('resources/playerbar/pause_pressed.png');
                    }
                }
            }
        }
    }
}

.Root__main-view:has(.playlist-playlist-playlist) {
    header {
        .main-topBar-background {
            border-radius: 0;
            width: calc(100% - var(--scrollbar-size));

            .main-topBar-overlay {
                background: var(--wmp11-window);
            }
        }

        .contentSpacing {
            padding: 8px;
        }

        button {
            width: 24px;
            height: 24px;
            border-radius: 0;
            background: url('resources/playerbar/play_31.png') 0 0 / contain no-repeat;
            margin-top: -3px;

            &:hover {
                background-image: url('resources/playerbar/play_31_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_31_pressed.png');
            }

            span {
                opacity: 0;
            }
        }

        .main-entityHeader-topbarTitle {
            font-size: 12px;
            font-family: var(--ui-font);
        }
    }

    &:has(.playlist-playlist-playlist.playing) header button {
        background-image: url('resources/playerbar/pause_31.png') !important;

        &:hover {
            background-image: url('resources/playerbar/pause_31_hover.png') !important;
        }

        &:active {
            background-image: url('resources/playerbar/pause_31_pressed.png') !important;
        }
    }

    &:has(.main-entityHeader-topbarContentFadeIn) {
        .playlist-playlist-playlistContent div[class][data-overlayscrollbars-viewport] {
            z-index: unset;
        }

        .playlist-playlist-searchBoxContainer {
            position: fixed;
            top: 39px;
            right: calc(var(--main-area-right) + var(--scrollbar-size));
            z-index: 100;
        }

        .main-trackList-trackListHeader::before {
            content: '';
            position: absolute;
            top: -30px;
            left: 0;
            width: 100%;
            height: 28px;
            background: #EEF3FA;
        }
    }

    :root:not([data-wmpotify-title-style="native"]) &:has(.main-entityHeader-topbarContentFadeIn) {
        .playlist-playlist-searchBoxContainer {
            top: 64px;
        }
    }
}

:root[data-wmpotify-style="xp"] body[data-hide-libx] {
    .Root__main-view:has(.playlist-playlist-playlist) {
        header {
            left: var(--panel-gap);
        }
    }
}

/* Sort and view picker in playlist page */
ul[id*="sortboxlist-"] {
    li:last-child {
        button {
            margin-top: 0 !important;
        }
    }

    button:has(svg:not(:first-child)) {
        svg:first-child {
            display: none;
        }
    }
}