.playlist-playlist-playlist {
    .main-entityHeader-backgroundColor,
    .main-actionBarBackground-background {
        background: none !important;
    }

    .playlist-playlist-playlistDescription {
        color: var(--gray-text);
    }

    img.main-entityHeader-image {
        border-radius: 0;
        box-shadow: var(--album-shadow-big);
    }

    .main-trackList-trackListHeader {
        background: none !important;
        border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        height: 20px;

        .main-trackList-trackListHeaderRow {
            height: 20px;
        }
    }

    .main-trackList-rowSectionStart img {
        border-radius: 0 !important;
        box-shadow: var(--album-shadow-small);
    }

    .main-trackList-trackListRow:hover {
        background: var(--item-hover-background);
        border-color: var(--item-hover-border);
    }

    .main-actionBar-ActionBarRow {
        > div:first-child button {
            width: 42px;
            height: 43px;
            background: url('resources/playerbar/play.png') no-repeat;

            &:hover {
                background-image: url('resources/playerbar/play_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/play_pressed.png');
            }

            span {
                opacity: 0;
            }
        }
    }

    &.playing {
        .main-actionBar-ActionBarRow > div:first-child button {
            background-image: url('resources/playerbar/pause.png') !important;

            &:hover {
                background-image: url('resources/playerbar/pause_hover.png') !important;
            }

            &:active {
                background-image: url('resources/playerbar/pause_pressed.png') !important;
            }
        }
    }
}

.Root__main-view:has(.playlist-playlist-playlist) {
    header button {
        width: 42px;
        height: 43px;
        background: url('resources/playerbar/play.png') no-repeat;

        &:hover {
            background-image: url('resources/playerbar/play_hover.png');
        }

        &:active {
            background-image: url('resources/playerbar/play_pressed.png');
        }

        span {
            opacity: 0;
        }
    }

    &:has(.playlist-playlist-playlist.playing) header button {
        background-image: url('resources/playerbar/pause.png') !important;

        &:hover {
            background-image: url('resources/playerbar/pause_hover.png') !important;
        }

        &:active {
            background-image: url('resources/playerbar/pause_pressed.png') !important;
        }
    }
}