:root {
    --album-art-placeholder: url('resources/sidebar/album_art_placeholder.png');
}

/* <aside aria-label="Queue" class="ffFwfKcPDbmAPLXzxzKq" id="Desktop_PanelContainer_Id" tabindex="-1"> */
#Desktop_PanelContainer_Id > div:has(#queue-panel) {
    > div:first-child { /* panel header (tabs) */
        box-shadow: none; /* Hide the shadow when the queue panel is scrolled down */

        /* I just hid the tabs and put now playing view here just like WMP11 */
        > div:first-child {
            height: 136px;
        }

        #wmpotify-queue-npv {
            #wmpotify-queue-album-art {
                width: 97px;
                height: 97px;
                box-shadow: var(--album-shadow-big);
                position: absolute;
                top: 9px;
                left: 50%;
                transform: translateX(-50%);

                &[src*="data:image"] {
                    box-shadow: none;
                }
            }

            #wmpotify-queue-song-title {
                font-size: 12px;
                color: var(--wmp11-text-hilight);
                position: absolute;
                top: 110px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        div[role="tablist"] {
            display: none;
        }
    }

    /* <div data-overlayscrollbars-initialize="true" class="cZCuJDjrGA2QMXja_Sua" data-overlayscrollbars="host"> */
    > div:nth-child(2) { /* panel content */
        border-top: solid 1px var(--wmp11-separator-shadow);
        flex-direction: column !important;

        #wmpotify-queue-toolbar {
            border-top: solid 1px var(--wmp11-separator-light);
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            #wmpotify-queue-playlist-button {
                margin-top: 2px;
                margin-left: 2px;
                padding-left: 7px;
                padding-right: 1px;

                .expandMark {
                    margin-top: -2px;
                    margin-left: 4px;
                }
            }

            #wmpotify-queue-clear-button {
                margin-top: 2px;
                margin-right: 2px;
                width: 27px;
                background: url('resources/sidebar/clear.png') no-repeat 5px 3px;

                &:active {
                    background-position: 6px 4px;
                }

                &:disabled {
                    background-image: url('resources/sidebar/clear_disabled.png');
                }
            }
        }

        /* <div class="" data-overlayscrollbars-viewport="scrollbarHidden overflowXScroll overflowYScroll" tabindex="-1" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; top: 0px; right: auto; left: 0px; width: calc(100% + 0px); padding: 0px;"> */
        > div:nth-child(3) {
            overflow-x: hidden !important;

            > div {
                padding: 0 0 0 8px;
                > div {
                    padding-right: 0;
                }
            }
        }
    }

    #queue-panel,
    #history-panel {
        > div:first-child > div:first-child {
            gap: 0;
        }

        /* Nothing in queue message */
        > div:first-child:has(> svg:first-child) {
            height: 170px;

            svg {
                display: none;
            }

            div {
                h1 {
                    display: none;
                }

                p {
                    font-size: 12px;
                    color: black;
                }
            }

            a button span {
                display: inline;
                padding: 0;
                color: var(--hot-tracking-color);
                background: none;
                font-size: 12px;
                font-weight: normal;
                text-decoration: underline;
            }
        }

        .x-entityImage-imageContainer {
            display: none; /* Hide the album art */
        }

        div[data-flip-id*="section-header-"] {
            display: none; /* Hide the 'Now playing' / 'Next from' title */
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .Column-lg {
            flex-direction: row;

            p:first-child {
                overflow: hidden;
            }

            span {
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        li {
            height: var(--queue-item-height);

            &:hover div[data-encore-id="listRow"]::after {
                border-radius: 0;
                height: var(--queue-item-height);
                background-color: #d7dbe1;
            }

            &:not(:hover) div[data-encore-id="listRow"]::after {
                display: none;
            }

            > div {
                display: inline;
                padding: 0;
            }

            div[role="button"],
            .HeaderArea {
                height: var(--queue-item-height);
                margin-top: -1px;
                margin-left: 1px;

                .encore-internal-color-text-bright-accent[data-encore-id="listRowTitle"] {
                    color: var(--wmp11-text-hilight);

                    &::before {
                        content: '⏵';
                        position: absolute;
                        top: 1px;
                        left: -11px;
                        font-size: 12px;
                    }
                }

                p[data-encore-id="listRowSubtitle"] {
                    color: #77797d !important;
                    margin-left: 7px;
                    position: relative;

                    &::before {
                        content: '-';
                        position: absolute;
                        top: 0;
                        left: -0.5em;
                        font-size: 12px;
                    }
                }

                div:first-child {
                    width: calc(100% - 50px);
                }

                div:nth-child(2) {
                    display: none;
                }

                .wmpotify-queue-duration {
                    font-size: 12px;
                    margin-right: 7px;
                }
            }

            p span {
                font-size: 12px !important;
            }

            svg {
                display: none !important;
            }
        }
    }
}

.LayoutResizer__resize-bar.LayoutResizer__inline-start {
    opacity: 1 !important;
    width: 3px;
    inset-inline-start: -3px;
    border-left: solid 1px var(--wmp11-window);
    background-color: var(--wmp11-separator-shadow);
    border-right: solid 1px var(--wmp11-separator-light);
    cursor: ew-resize;

    &::after {
        display: none;
    }
}