:root[data-wmpotify-style="xp"] {
    #main {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 8px;
            height: calc(100% - var(--player-bar-height));
            background: url('resources/frame/leftframe.png') 0 0 / 8px 100% no-repeat;
            z-index: 1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: calc(100% - var(--player-bar-height));
            background: url('resources/frame/rightframe.png') 0 0 / 8px 100% no-repeat;
        }
    }
}

:root:has(#wmpotify-title-bar) {
    #main {
        margin-top: 25px;
        height: calc(100% - 25px);
    }

    #wmpotify-title-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        border-image: url('resources/frame/titlebar_nocontrols.png') 0 103 0 12 fill stretch;
        border-image-width: 0 103px 0 12px;
        z-index: 2;
        -webkit-app-region: drag !important;

        &:has(#wmpotify-title-buttons) {
            border-image-source: url('resources/frame/titlebar_closeonly.png');
        }

        &:has(#wmpotify-minimize-button) {
            border-image-source: url('resources/frame/titlebar.png');
        }

        &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 7px;
            width: 16px;
            height: 16px;
            background: url('resources/frame/spotify_16.png') no-repeat;
        }
    }

    #wmpotify-title-text {
        font-size: 14px;
        font-weight: 300;
        font-family: sans-serif;
        color: white;
        margin-left: 33px;
    }

    &[data-wmpotify-title-style="spotify"] {
        #wmpotify-title-text {
            margin-left: 50px;
        }
    }
}