@keyframes appear {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

*, body, button, input, select, textarea {
    font-family: var(--ui-font);
}

#main * {
    -webkit-app-region: no-drag !important;
}

body {
    overflow: hidden;
    min-width: 0;
    min-height: 0;
}

.field-row {
    display: flex;
    align-items: center;
}

[class^="field-row"] + [class^="field-row"] {
    margin-top: var(--grouped-element-spacing);
}

.field-row > * + * {
    margin-left: var(--grouped-element-spacing);
}

.field-row-stacked {
    display: flex;
    flex-direction: column;
}

.field-row-stacked * + * {
    margin-top: var(--grouped-element-spacing);
}

/* Performance optimizations */
div[role="tablist"],
.StyledTabList-tablist-tabList,
div[data-overlayscrollbars-viewport],
div[data-overlayscrollbars],
.search-searchCategory-categoryGrid,
.main-yourLibraryX-libraryContainer,
.main-yourLibraryX-libraryFilter,
.main-navBar-mainNav,
.main-yourLibraryX-library {
    will-change: transform;
    transform: translate3d(0px, 0px, 0px);
}