:root {
    --prev: url('resources/playerbar/prev.png');
    --prev-hover: url('resources/playerbar/prev_hover.png');
    --prev-pressed: url('resources/playerbar/prev_pressed.png');
    --prev-disabled: url('resources/playerbar/prev_disabled.png');
    --play: url('resources/playerbar/play.png');
    --play-hover: url('resources/playerbar/play_hover.png');
    --play-pressed: url('resources/playerbar/play_pressed.png');
    --play-disabled: url('resources/playerbar/play_disabled.png');
    --pause: url('resources/playerbar/pause.png');
    --pause-hover: url('resources/playerbar/pause_hover.png');
    --pause-pressed: url('resources/playerbar/pause_pressed.png');
    --pause-disabled: url('resources/playerbar/pause_disabled.png');
    --next: url('resources/playerbar/next.png');
    --next-hover: url('resources/playerbar/next_hover.png');
    --next-pressed: url('resources/playerbar/next_pressed.png');
    --next-disabled: url('resources/playerbar/next_disabled.png');
    --repeat: url('resources/playerbar/repeat.png');
    --repeat-active: url('resources/playerbar/repeat_active.png');
    --shuffle: url('resources/playerbar/shuffle.png');
    --shuffle-active: url('resources/playerbar/shuffle_active.png');
    --stop: url('resources/playerbar/stop.png');
    --stop-disabled: url('resources/playerbar/stop_disabled.png');
    --miniplayer: url('resources/playerbar/miniplayer.png');
    --miniplayer-hover: url('resources/playerbar/miniplayer_hover.png');
    --miniplayer-pressed: url('resources/playerbar/miniplayer_pressed.png');
    --miniplayer-disabled: url('resources/playerbar/miniplayer_disabled.png');
    --fullscreen: url('resources/playerbar/fullscreen.png');
    --fullscreen-hover: url('resources/playerbar/fullscreen_hover.png');
    --fullscreen-pressed: url('resources/playerbar/fullscreen_pressed.png');
    --fullscreen-disabled: url('resources/playerbar/fullscreen_disabled.png');
    --vol-muted: url('resources/playerbar/vol_muted.png');
    --vol-low: url('resources/playerbar/vol_low.png');
    --vol-mid: url('resources/playerbar/vol_mid.png');
    --vol-high: url('resources/playerbar/vol_high.png');
}

.Root__now-playing-bar {
    position: relative;
    margin: calc(var(--panel-gap) * -1);
    width: calc(100% + var(--panel-gap) * 2);
    padding-right: calc(var(--panel-gap) * 2);
}

.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);

    svg {
        color: white !important;
    }
}

.main-nowPlayingWidget-nowPlaying {
    margin-top: 13px;
    margin-left: -2px;
}


button[data-testid="cover-art-button"] {
    background: transparent;
    border-radius: 0;
    width: 34px;
    height: 34px;
}

.main-nowPlayingWidget-coverArt .cover-art {
    max-width: 33px;
    max-height: 33px;
    box-shadow: var(--album-shadow-small) !important;
}

.main-coverSlotCollapsed-navAltContainer {
    border-radius: 0;
}

.wmpotify-track-info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 6px;
    font-size: 12px;
    margin-top: -3px;
    margin-left: -6px;
}

.main-nowPlayingWidget-trackInfo {
    margin-right: 0;

    > :not(.wmpotify-track-info) {
        display: none;
    }
}

.player-controls__buttons {
    width: 404px;
    height: 49px;
    background: url('resources/playerbar/bg_large.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
    margin-bottom: 0;
    gap: 0;

    button {
        cursor: default !important;
        min-height: 0;

        span {
            opacity: 0 !important;
        }

        &[data-testid='control-button-skip-back'] {
            width: 52px;
            height: 25px;
            margin-right: -1px;
            border-radius: 0;
            background: var(--prev) no-repeat;
            align-self: center;
            transform: none !important;

            &:disabled {
                background-image: var(--prev-disabled) !important;
            }

            &:hover {
                background-image: var(--prev-hover);
            }

            &:active {
                background-image: var(--prev-pressed);
            }
        }

        &[data-testid='control-button-playpause'] {
            width: 42px;
            height: 43px;
            border-radius: 0;
            align-self: center;
            background: var(--play) no-repeat;
            transform: none !important;

            &:disabled {
                background-image: var(--play-disabled) !important;
            }

            &:hover {
                background-image: var(--play-hover);
            }

            &:active {
                background-image: var(--play-pressed);
            }

            &.playing {
                background-image: var(--pause);
            }

            &.playing:disabled {
                background-image: var(--pause-disabled) !important;
            }

            &.playing:hover {
                background-image: var(--pause-hover);
            }

            &.playing:active {
                background-image: var(--pause-pressed);
            }
        }

        &[data-testid='control-button-skip-forward'] {
            width: 52px;
            height: 25px;
            margin-left: -1px;
            border-radius: 0;
            align-self: center;
            background: var(--next) no-repeat;
            transform: none !important;

            &:disabled {
                background-image: var(--next-disabled) !important;
            }

            &:hover {
                background-image: var(--next-hover);
            }

            &:active {
                background-image: var(--next-pressed);
            }
        }
    }
}

.player-controls__left {
    position: relative;

    .wmpotify-time-text {
        position: absolute;
        top: 12px;
        left: -40px;
        padding: 6px;
        font-size: 12px;
        margin-top: -3px;
    }

    /* Shuffle button, wrapped in a div only if it's enabled */
    > div:nth-child(2) button,
    > button:nth-child(2) {
        width: 25px;
        height: 25px;
        border-radius: 0;
        align-self: center;
        background: var(--shuffle) no-repeat;
        transform: none !important;
        margin-right: -2px;

        &.Button-buttonTertiary-textBrightAccent-small-small-iconOnly-useBrowserDefaultFocusStyle {
            background-image: var(--shuffle-active);
        }

        &::after {
            display: none;
        }

        &[aria-disabled='true']::before {
            display: none !important;
        }
    }

    button[data-testid='control-button-repeat'] {
        width: 25px;
        height: 25px;
        border-radius: 0 !important;
        align-self: center;
        background: var(--repeat) no-repeat;
        transform: none !important;
        margin-right: 12px;

        &::before {
            display: none;
        }

        &:not([aria-checked='false']) {
            background-image: var(--repeat-active);
        }
    }

    #wmpotify-stop-button {
        position: relative;
        display: inline-flex;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 0;
        align-self: center;
        background: var(--stop) no-repeat 0 -1px;
        transform: none !important;
        margin-right: 1px;

        &:disabled {
            background-image: var(--stop-disabled);
        }
    }
}

.player-controls__right {
    gap: 0;

    .volume-bar {
        position: relative;
        left: 12px;
        margin-right: 0;
    }
    
    .volume-bar__icon-button {
        width: 25px;
        height: 25px;
        border-radius: 0;
        align-self: center;
        background: var(--vol-mid) no-repeat;
        transform: none !important;

        svg {
            display: none;
        }

        &[data-vol='muted'] {
            background-image: var(--vol-muted);
        }

        &[data-vol='low'] {
            background-image: var(--vol-low);
        }

        &[data-vol='mid'] {
            background-image: var(--vol-mid);
        }

        &[data-vol='high'] {
            background-image: var(--vol-high);
        }
    }

    .volume-bar__slider-container {
        width: 67px;
        margin-left: -1px;

        .x-progressBar-progressBarBg {
            border-color: transparent;
            outline-color: transparent;
        }

        .progress-bar__slider {
            background: url('resources/playerbar/volhandle.png') no-repeat;
            width: 12px;
            height: 13px;
            image-rendering: pixelated;
            visibility: visible !important;

            &:hover {
                background-image: url('resources/playerbar/volhandle_hover.png');
            }

            &:active {
                background-image: url('resources/playerbar/volhandle_pressed.png');
            }
        }
    }
}

.player-controls__left > div:nth-child(2) button:hover::before,
.player-controls__left > button:nth-child(2):hover::before,
.player-controls__buttons button[data-testid='control-button-repeat']:hover::after,
#wmpotify-stop-button:hover::before,
.volume-bar__icon-button:hover::before {
    content: '';
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    background: url('resources/playerbar/btn_hover.png') no-repeat;
    z-index: -1;
}

.player-controls__left > div:nth-child(2) button:active::before,
.player-controls__left > button:nth-child(2):active::before,
.player-controls__buttons button[data-testid='control-button-repeat']:active::after,
#wmpotify-stop-button:active::before,
.volume-bar__icon-button:active::before {
    background-image: url('resources/playerbar/btn_pressed.png');
}

.main-nowPlayingBar-right {
    margin-top: 10px;

    button[data-testid='pip-toggle-button'] {
        width: 21px;
        height: 21px;
        margin-right: 8px;
        border-radius: 0;
        background: var(--miniplayer) no-repeat center;
        transform: none !important;

        svg {
            display: none;
        }

        &:hover {
            background-image: var(--miniplayer-hover);
        }

        &:active {
            background-image: var(--miniplayer-pressed);
        }

        &:disabled {
            background-image: var(--miniplayer-disabled) !important;
        }
    }

    button[data-testid='fullscreen-mode-button'],
    #BeautifulLyricsFullscreenButton {
        width: 21px;
        height: 21px;
        border-radius: 0;
        background: var(--fullscreen) no-repeat center;
        scale: 1 !important;
        transform: none !important;

        svg {
            display: none;
        }

        &:hover {
            background-image: var(--fullscreen-hover);
        }

        &:active {
            background-image: var(--fullscreen-pressed);
        }

        &:disabled {
            background-image: var(--fullscreen-disabled) !important;
        }
    }
}

.playback-bar {
    position: absolute;
    bottom: 46px;
    width: calc(100% - 28px);
    margin-left: 17px;

    .encore-text {
        display: none;
    }
}

.x-progressBar-progressBarBg {
    background: transparent;
    border: rgba(92, 92, 92, 0.5) 1px solid;
    outline: rgba(255, 255, 255, 0.5) 1px solid;

    .x-progressBar-fillColor {
        background: linear-gradient(to bottom, #84c5ff 1px, #0f41cd 1.5px, #6e96ff 2.5px);

        &::after {
            content: '';
            position: absolute;
            background-image: url('resources/playerbar/pbfillend.png');
            width: 15px;
            height: 3px;
            right: 0;
        }
    }

    .progress-bar__slider {
        border-radius: 0;
        background: url('resources/playerbar/seekhandle.png') no-repeat;
        width: 16px;
        height: 9px;
        image-rendering: pixelated;

        &:hover {
            background-image: url('resources/playerbar/seekhandle_hover.png');
        }

        &:active {
            background-image: url('resources/playerbar/seekhandle_pressed.png');
        }
    }
}

.main-connectBar-connectBar {
    display: none;
}

:root[data-wmpotify-style="xp"] {
    --player-bar-height: 69px;

    --prev: url('resources/playerbar/xp/prev.png');
    --prev-hover: url('resources/playerbar/xp/prev_hover.png');
    --prev-pressed: url('resources/playerbar/xp/prev_pressed.png');
    --prev-disabled: url('resources/playerbar/xp/prev_disabled.png');
    --play: url('resources/playerbar/xp/play.png');
    --play-hover: url('resources/playerbar/xp/play_hover.png');
    --play-pressed: url('resources/playerbar/xp/play_pressed.png');
    --play-disabled: url('resources/playerbar/xp/play_disabled.png');
    --pause: url('resources/playerbar/xp/pause.png');
    --pause-hover: url('resources/playerbar/xp/pause_hover.png');
    --pause-pressed: url('resources/playerbar/xp/pause_pressed.png');
    --pause-disabled: url('resources/playerbar/xp/pause_disabled.png');
    --next: url('resources/playerbar/xp/next.png');
    --next-hover: url('resources/playerbar/xp/next_hover.png');
    --next-pressed: url('resources/playerbar/xp/next_pressed.png');
    --next-disabled: url('resources/playerbar/xp/next_disabled.png');
    --repeat: url('resources/playerbar/xp/repeat.png');
    --repeat-active: url('resources/playerbar/xp/repeat_active.png');
    --shuffle: url('resources/playerbar/xp/shuffle.png');
    --shuffle-active: url('resources/playerbar/xp/shuffle_active.png');
    --stop: url('resources/playerbar/xp/stop.png');
    --stop-disabled: url('resources/playerbar/xp/stop_disabled.png');
    --miniplayer: url('resources/playerbar/xp/miniplayer.png');
    --miniplayer-hover: url('resources/playerbar/xp/miniplayer_hover.png');
    --miniplayer-pressed: url('resources/playerbar/xp/miniplayer_pressed.png');
    --miniplayer-disabled: url('resources/playerbar/xp/miniplayer_disabled.png');
    --fullscreen: url('resources/playerbar/xp/fullscreen.png');
    --fullscreen-hover: url('resources/playerbar/xp/fullscreen_hover.png');
    --fullscreen-pressed: url('resources/playerbar/xp/fullscreen_pressed.png');
    --fullscreen-disabled: url('resources/playerbar/xp/fullscreen_disabled.png');
    --vol-muted: url('resources/playerbar/xp/vol_muted.png');
    --vol-low: url('resources/playerbar/xp/vol_low.png');
    --vol-mid: url('resources/playerbar/xp/vol_mid.png');
    --vol-high: url('resources/playerbar/xp/vol_high.png');

    .Root__now-playing-bar {
        padding-left: var(--panel-gap);
        padding-right: calc(var(--panel-gap) * 3);
        border-image: url('resources/playerbar/xp/bottom_texture.png') 0 16 0 16 fill stretch;
        border-image-width: 0 16px 0 16px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: calc(50% - var(--panel-gap));
            transform: translateX(-50%);
            width: 558px;
            height: 59px;
            background: url('resources/playerbar/xp/bg_large.png') center no-repeat;
            z-index: -2;
        }
    }

    .main-nowPlayingBar-nowPlayingBar {
        height: 60px;
        margin-bottom: 9px;
    }

    .player-controls__buttons {
        background: none;
    }

    .playback-bar {
        bottom: 57px;
    }

    .x-progressBar-progressBarBg {
        border-color: transparent;
        outline-color: transparent;
    }

    .wmpotify-track-info,
    .wmpotify-time-text {
        color: white;
    }
}

:root[data-wmpotify-style="aero"] {
    .wmpotify-track-info,
    .wmpotify-time-text {
        text-shadow: var(--aero-text-glow);
    }
}

:root[data-wmpotify-style="basic"] {
    .wmpotify-track-info,
    .wmpotify-time-text {
        color: #002963;
    }

    .main-nowPlayingBar-nowPlayingBar svg {
        color: #002963 !important;
    }
}

:root[data-wmpotify-style="classic"] {
    .main-nowPlayingBar-nowPlayingBar * {
        color: var(--button-text) !important;
    }
}