:root {
    --wmpotify-tint-hue: 0deg;
    --wmpotify-tint-sat: 1;
}

#wmpotify-title-bar::before,
#main::before,
#main::after,
.Root__globalNav,
.Root__now-playing-bar::before,
.Root__now-playing-bar::after,
.main-nowPlayingBar-nowPlayingBar.tinted .player-controls__buttons,
.main-nowPlayingBar-nowPlayingBar.tinted .playback-bar,
.main-nowPlayingBar-nowPlayingBar.tinted .main-nowPlayingBar-right,
.main-trackList-trackListHeader,
.main-yourLibraryX-filterArea + div,
.wmpotify-tintable {
    filter: hue-rotate(var(--wmpotify-tint-hue)) saturate(var(--wmpotify-tint-sat));
}

#wmpotify-config-sat {
    filter: hue-rotate(var(--wmpotify-tint-hue));
}