
:root {
    /* Windows Classic Color Schemes + WindowMetrics + Fonts */
    --active-border: #B4B4B4;
    --active-title: #99B4D1;
    --app-workspace: #ABABAB;
    --background: #000000;
    --button-alternate-face: #000000;
    --button-dk-shadow: #696969;
    --surface: #f0f0f0; /* ButtonFace */
    --button-hilight: #FFFFFF;
    --button-light: #E3E3E3;
    --button-shadow-color: #A0A0A0;
    --button-text: #000000;
    --gradient-active-title: #B9D1EA;
    --gradient-inactive-title: #D7E4F2;
    --gray-text: #6D6D6D;
    --hilight: #3399FF;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #0066CC;
    --inactive-border: #F4F7FC;
    --inactive-title: #BFCDDB;
    --inactive-title-text: #434E54;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #F0F0F0;
    --menu-bar: #F0F0F0;
    --menu-hilight: #3399FF;
    --menu-text: #000000;
    --scrollbar: #C8C8C8;
    --title-text: #000000;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #646464;
    --default-colorization-color: #4580c4;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --cjk-fontlink: "MS UI Gothic", Gulim, SimSun, PMingLiU;
    --ui-font-default: "Segoe UI", "SegoeUI", "Noto Sans", sans-serif;
    --ui-font: var(--ui-font-default);
    --font: 9pt var(--ui-font);
    --caption-font: 9pt/1.2 var(--ui-font);
    --menu-font: 9pt/0.9 var(--ui-font);
    --message-font: 9pt var(--ui-font);
    --status-font: 9pt var(--ui-font);

    --underline: var(--menu-text);
    --underline-hilight: var(--hilight-text);
    --underline-disabled: var(--button-shadow-color);

    /* Border styles for classic styling */
    --border-raised-outer: inset -1px -1px var(--button-dk-shadow),
        inset 1px 1px var(--button-hilight);
    --border-raised-inner: inset -2px -2px var(--button-shadow-color),
        inset 2px 2px var(--button-light);
    --border-sunken-outer: inset -1px -1px var(--button-hilight),
        inset 1px 1px var(--button-dk-shadow);
    --border-sunken-inner: inset -2px -2px var(--button-light),
        inset 2px 2px var(--button-shadow-color);
    --border-window-outer: inset -1px -1px var(--button-dk-shadow),
        inset 1px 1px var(--button-light);
    --border-window-inner: inset -2px -2px var(--button-shadow-color),
        inset 2px 2px var(--button-hilight);

    /* Button styles (Aero) */
    --button-highlight: #fff;
    --button-face: #f2f2f2;
    --button-face-hover: #eaf6fd;
    --button-face-active: #c4e5f6;
    --button-face-disabled: #f4f4f4;
    --button-shade-light: #ebebeb;
    --button-shade-light-hovered: #bee6fd;
    --button-shade-light-active: #98d1ef;
    --button-shade-dark: #cfcfcf;
    --button-shade-dark-hovered: #a7d9f5;
    --button-shade-top-active: #e5f4fc;
    --button-shade-bottom-active: #68b3db;
    --button-shadow: inset 0 0 0 1px #fffc;
    --button-shadow-active: inset 1px 1px 0 #0003, inset -1px 1px 0 #0001;
    --button-border: 1px solid;
    --button-border-color: #8e8f8f;
    --button-border-color-default: #5586a3;
    --button-border-color-hovered: #3c7fb1;
    --button-border-color-active: #6d91ab;
    --button-border-color-disabled: #aeb2b5;
    --button-text-color: #222;
    --button-text-color-disabled: #838383;
    --button-focus-outline-color: #000;
    --textbox-background-color: #fff;
    --textbox-border-color: #ccc;
    --textbox-border-top-color: #8e8f8f;
    --textbox-border-color-focused: #bee6fd;
    --textbox-border-top-color-focused: #98d1ef;
    --tooltip-shade-top: #ffffff;
    --tooltip-shade-bottom: #ebebeb;
    --tooltip-border-color: #767676;
    --button-gradient: linear-gradient(
        to bottom,
        var(--button-face) 45%,
        var(--button-shade-light) 45%,
        var(--button-shade-dark)
    );
    --button-gradient-hovered: linear-gradient(
        to bottom,
        var(--button-face-hover) 45%,
        var(--button-shade-light-hovered) 45%,
        var(--button-shade-dark-hovered)
    );
    --button-gradient-active: linear-gradient(
        to bottom,
        var(--button-shade-top-active),
        var(--button-face-active) 30% 50%,
        var(--button-shade-light-active) 50%,
        var(--button-shade-bottom-active)
    );

    /* Menu styles (Aero) */
    --menu-padding: 3px;
    --item-offset-left: 30px;
    --menu-background-color: #f0f0f0;
    --menu-border-color: #979797;
    --menu-inner-border-color: #f5f5f5;
    --menu-icon-separator-shadow: inset 1px 0 rgba(0, 0, 0, 0.15), inset -1px 0 #fff;
    --menu-icon-background-border-color: #b3d3f9;
    --menu-icon-checkmark-color: #0c12a1;
    --menu-icon-radio-dot-outer-color: #333583;
    --menu-icon-radio-dot-inner-color: #d5d4ea;
    --menu-icon-radio-dot-border-color: #1a1490;
    --menu-separator-border-top-color: rgba(0, 0, 0, 0.15);
    --menu-separator-border-bottom-color: #ffffff;
    --menu-item-hover-border-color: #b8d6fb;
    --menu-item-hover-border-color-disabled: #d4d3d3;
    --menu-item-hover-background: linear-gradient(
        to bottom,
        #fff9,
        #e6ecf5cc 90%,
        #fffc
    );
    --menu-item-hover-background-disabled: linear-gradient(
        to bottom,
        #fff9,
        #e6e6e6cc 90%,
        #fffc
    );

    --code-block-background-color: #d3d3d3;

    --scrollbar-y: linear-gradient(to right, #e5e5e5, var(--surface) 20%);
    --scrollbar-x: linear-gradient(to bottom, #e5e5e5, var(--surface) 20%);

    --element-spacing: 8px;
    --grouped-element-spacing: 6px;
    
    --border-radius: 3px;
    --border-width: 1px;

    --spice-tab-active: var(--hilight);

    --player-bar-height: 60px;
    --queue-item-height: 19px;

    /* WMP11 colors */
    --wmp11-window: var(--spice-main);
    --wmp11-text-hilight: #2871e9;
    --wmp11-subtext: #77797d;
    --wmp11-separator-shadow: #a9b7c9;
    --wmp11-separator-light: #f2f7fc;
    --wmp11-search-border-outer: #f4f7fc;
    --wmp11-search-border-inner: #ffffff;
    --wmp11-search-gradient: linear-gradient(to bottom, #5e5f61, #c0c3c6);
    --wmp11-search-face: #f6f9fc;
    --wmp11-queue-hover: #d7dbe1;

    --album-shadow-big: 5px 5px 4px -4px rgba(0, 0, 0, 0.75);
    --album-shadow-small: 1px 1px rgba(0, 0, 0, 0.2);

    --aero-text-glow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white,
    0 0 10px white,0 0 10px white, 0 0 10px white, 0 0 10px white;

    --item-hover-background: linear-gradient(
        to bottom,
        #ebf4fc 0%,
        #eaf4fc 10%,
        #e9f3fc 20%,
        #e8f3fc 30%,
        #e7f2fc 40%,
        #e5f2fc 50%,
        #e2f1fc 60%,
        #e1f1fc 70%,
        #e0f0fc 80%,
        #dff0fc 90%,
        #def0fc 100%
    );
    --item-hover-border: #cde9f8;

    --listview-header: url('resources/ui/listview_header.png');
    --logo-16: url('resources/frame/spotify_16.png');
    --logo-32: url('resources/icon/wmpotify.png');
}

.encore-dark-theme {
    --background-highlight: var(--hilight);
}

[style*="--text-subdued"] {
    --text-subdued: var(--gray-text) !important;
}

:root[data-wmpotify-control-style="xp"] {
    --active-border: #D4D0C8;
    --active-title: #0054E3;
    --app-workspace: #808080;
    --background: #004E98;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #716F64;
    --surface: #ECE9D8;
    --button-hilight: #FFFFFF;
    --button-light: #F1EFE2;
    --button-shadow-color: #ACA899;
    --button-text: #000000;
    --gradient-active-title: #3D95FF;
    --gradient-inactive-title: #9DB9EB;
    --gray-text: #ACA899;
    --hilight: #316AC5;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #D4D0C8;
    --inactive-title: #7A96DF;
    --inactive-title-text: #D8E4F8;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #FFFFFF;
    --menu-bar: #ECE9D8;
    --menu-hilight: #316AC5;
    --menu-text: #000000;
    --scrollbar: #D4D0C8;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --scrollbar-size: 17px;
    --menu-height: 19px;
    --ui-font-default: Tahoma, Arial, var(--cjk-fontlink);
    --caption-font: bold 10pt/1 "Trebuchet MS", var(--ui-font);
    --menu-font: 11px/1 var(--ui-font);
    --message-font: 11px var(--ui-font);
    --status-font: 11px var(--ui-font);
}

:root[data-wmpotify-control-style="classic"] {
    --active-border: #c0c0c0;
    --active-title: #000080;
    --app-workspace: #808080;
    --background: #008080;
    --button-alternate-face: #b4b4b4;
    --button-dk-shadow: #000000;
    --surface: #c0c0c0;
    --button-hilight: #ffffff;
    --button-light: #dfdfdf;
    --button-shadow-color: #808080;
    --button-text: #000000;
    --gradient-active-title: #1084d0;
    --gradient-inactive-title: #b5b5b5;
    --gray-text: #808080;
    --hilight: #000080;
    --hilight-text: #ffffff;
    --hot-tracking-color: #000080;
    --inactive-border: #c0c0c0;
    --inactive-title: #808080;
    --inactive-title-text: #c0c0c0;
    --info-text: #000000;
    --info-window: #ffffe1;
    --menu: #c0c0c0;
    --menu-bar: #c0c0c0;
    --menu-hilight: #000080;
    --menu-text:  #000000;
    --scrollbar: #c0c0c0;
    --title-text: #ffffff;
    --window: #ffffff;
    --window-frame: #000000;
    --window-text: #000000;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --ui-font-default: "MS Sans Serif", Arial, var(--cjk-fontlink);
    --caption-font: bold 11px var(--ui-font);
    --menu-font: 11px var(--ui-font);
    --message-font: 11px var(--ui-font);
    --status-font: 11px var(--ui-font);
}

:root[data-wmpotify-control-style="standard"] {
    --active-border: #D4D0C8;
    --active-title: #0A246A;
    --app-workspace: #808080;
    --background: #3A6EA5;
    --button-alternate-face: #B5B5B5;
    --button-dk-shadow: #404040;
    --surface: #D4D0C8;
    --button-hilight: #FFFFFF;
    --button-light: #D4D0C8;
    --button-shadow-color: #808080;
    --button-text: #000000;
    --gradient-active-title: #A6CAF0;
    --gradient-inactive-title: #C0C0C0;
    --gray-text: #808080;
    --hilight: #0A246A;
    --hilight-text: #FFFFFF;
    --hot-tracking-color: #000080;
    --inactive-border: #D4D0C8;
    --inactive-title: #808080;
    --inactive-title-text: #D4D0C8;
    --info-text: #000000;
    --info-window: #FFFFE1;
    --menu: #D4D0C8;
    --menu-bar: #D4D0C8;
    --menu-hilight: #0A246A;
    --menu-text: #000000;
    --scrollbar: #D4D0C8;
    --title-text: #FFFFFF;
    --window: #FFFFFF;
    --window-frame: #000000;
    --window-text: #000000;
    --flat-menus: none;
    --menu-animation: fade;
    --menu-shadow: false;
    --scrollbar-size: 16px;
    --menu-height: 18px;
    --ui-font-default: Tahoma, Arial, var(--cjk-fontlink);
    --caption-font: bold 11px/1.4 var(--ui-font);
    --menu-font: 11px/1 var(--ui-font);
    --message-font: 11px var(--ui-font);
    --status-font: 11px var(--ui-font);
}

:root[data-wmpotify-dark-mode] {
    /* Prevent tinting.js from changing --spice-main */
    --spice-main: #222222 !important;
    --spice-subtext: #A0A4AC;
    --spice-shadow: #303030;
    --spice-text: #E0E4EC;
    --spice-card: #222222;
    --spice-sidebar: #222222;
    --spice-player: #101010;
    --spice-rgb-selected-row: 0, 0, 0;

    --button-face: #4a4a4a;
    --button-shade-light: #3c3c3c;
    --button-shade-dark: #222222;
    --button-face-hover: #484e60;
    --button-face-disabled: #373737;
    --button-shade-light-hovered: #3b4255;
    --button-shade-dark-hovered: #366685;
    --button-border-color: #9f9f9f;
    --button-border-color-default: #9fa7bf;
    --button-border-color-hovered: #9ea6be;
    --button-border-color-active: #8e96ae;
    --button-border-color-disabled: #6f7175;
    --button-text-color: #ffffff;
    --button-text-color-disabled: #838383;
    --button-focus-outline-color: #b5b5b5;
    --button-shadow: inset 0 0 0 1px #000c;
    --button-shade-top-active: #4b5166;
    --button-face-active: #384058;
    --button-shade-light-active: #2a344d;
    --button-shade-bottom-active: #2a5579;
    --textbox-background-color: #383838;
    --textbox-border-color: #4d4e54;
    --textbox-border-top-color: #65676c;
    --textbox-border-color-focused: #506a81;
    --textbox-border-top-color-focused: #6aa9db;
    --tooltip-shade-top: #3f404c;
    --tooltip-shade-bottom: #303030;
    --tooltip-border-color: #b9b9b9;

    --menu-background-color: #282828;
    --menu-border-color: #6c6c6c;
    --menu-inner-border-color: #303030;
    --menu-icon-separator-shadow: inset 1px 0 #191919, inset -1px 0 #404040;
    --menu-icon-background-border-color: #32537c;
    --menu-icon-checkmark-color: #aac9fe;
    --menu-icon-radio-dot-outer-color: #b8c6e2;
    --menu-icon-radio-dot-inner-color: #d5d4ea;
    --menu-icon-radio-dot-border-color: #9fabca;
    --menu-separator-border-top-color: #191919;
    --menu-separator-border-bottom-color: #404040;
    --menu-item-hover-border-color: #375273;
    --menu-item-hover-border-color-disabled: #565656;
    --menu-item-hover-background: linear-gradient(
        to bottom,
        #303b4499,
        #30383dcc 75%,
        #30373ccc
    );

    --code-block-background-color: #2b2b2b;

    --scrollbar-y: #111111;
    --scrollbar-x: #111111;

    --wmp11-subtext: #A0A4AC;
    --wmp11-separator-shadow: rgb(17, 17, 17);
    --wmp11-separator-light: rgb(66, 66, 66);
    --wmp11-search-border-outer: #222222;
    --wmp11-search-border-inner: #121212;
    --wmp11-search-gradient: linear-gradient(to bottom, #3d3e39, #4c4e4d);
    --wmp11-search-face: #121212;
    --wmp11-queue-hover: #4b4b4b;

    --item-hover-background: linear-gradient(
        to bottom,
        #272f3a 0%,
        #272f39 10%,
        #272e38 20%,
        #272d36 30%,
        #272e34 40%,
        #272c33 50%,
        #272b31 60%,
        #272c30 70%,
        #272a2e 80%,
        #272b2d 90%,
        #27282b 100%
    );
    --item-hover-border: #2f4d73;

    --listview-header: url('resources/ui/listview_header_dark.png');

    .encore-dark-theme {
        --background-base: #2e2e2e;
    }

    &:not([data-wmpotify-control-style="xp"]) {
        --active-border: #000000;
        --active-title: #101010;
        --app-workspace: #383838;
        --background: #000000;
        --button-alternate-face: #000000;
        --button-dk-shadow: #202020;
        --surface: #101010;
        --button-hilight: #505050;
        --button-light: #040404;
        --button-shadow-color: #303030;
        --button-text: #E0E4EC;
        --gradient-active-title: #101010;
        --gradient-inactive-title: #101010;
        --gray-text: #B0B0B0;
        --hilight: #0066CC;
        --hilight-text: #FFFFFF;
        --hot-tracking-color: #3399FF;
        --inactive-border: #000000;
        --inactive-title: #10101080;
        --inactive-title-text: #A0A4AC;
        --info-text: #FFFFFF;
        --info-window: #282819;
        --menu: #101010;
        --menu-bar: #101010;
        --menu-hilight: #0066CC;
        --menu-text: #FFFFFF;
        --scrollbar: #282828;
        --title-text: #FFFFFF;
        --window: #191919;
        --window-frame: #A0A0A0;
        --window-text: #E0E4EC;
    }
}

:root:not([data-wmpotify-dark-mode]),
/* The XP control style doesn't support dark mode */
:root[data-wmpotify-control-style="xp"] .GenericModal__overlay {
    --spice-main: #EEF3FA;
    --spice-subtext: #434E54;
    --spice-shadow: #A0A0A0;
    --spice-text: #000000;
    --spice-card: #EEF3FA;
    --spice-sidebar: #EEF3FA;
    --spice-player: #F0F0F0;
    --code-block-background-color: #d3d3d3;
}