:root[data-wmpotify-style="aero"],
:root[data-wmpotify-style="xp"] {
    background: transparent;
}

.Root__top-container {
    background: transparent;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(100% - var(--player-bar-height));
        background-color: var(--wmp11-window);
    }
}

.Root__main-view {
    width: calc(100% + var(--panel-gap));
}

#main:has(.Root__right-sidebar aside) .Root__main-view {
    width: calc(100% + var(--panel-gap) - 3px);
}

body[data-hide-libx] {
    #Desktop_LeftSidebar_Id {
        display: none;
    }

    .Root__main-view {
        margin-left: calc(var(--panel-gap) * -2);
        width: calc(100% + var(--panel-gap) * 3);
    }

    #main:has(.Root__right-sidebar aside) .Root__main-view {
        width: calc(100% + var(--panel-gap) * 3 - 3px);
    }
}

.Root__main-view {
    border-radius: 0 !important;

    &:not(:has(section[data-testid="playlist-page"])) {
        .main-topBar-container {
            position: relative;
            width: 100%;
            height: 28px;
            border-bottom: solid 1px var(--wmp11-separator-shadow);
            outline: solid 1px var(--wmp11-separator-light);
            overflow: hidden;

            &:has(.main-topBar-topbarContentWrapper:empty) {
                display: none;
            }
        }
    }
}

.marketplace-header {
    top: 12px;
}

.Root__right-sidebar {
    margin-right: calc(var(--panel-gap) * -1);
    aside {
        background: transparent !important;
        border-radius: 0 !important;

        &::before {
            background: transparent !important;
        }

        div div:has(.os-size-observer) div div:has([data-testid='NPV_Panel_OpenDiv']) {
            background: transparent !important;
        }

        div[data-testid="PanelHeader_CloseButton"] button {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 6px;
            right: 12px;
            border-radius: 0;
            background: url('resources/sidebar/sbclose.png') no-repeat;
            transform: none !important;
    
            svg {
                display: none;
            }
        }
    }

    .BeautifulLyricsBackground-Container {
        opacity: 0;
    }

    aside.NowPlayingView * {
        color: black !important;
    }

    .main-nowPlayingView-coverArt {
        border-radius: 0;
        box-shadow: var(--album-shadow-big) !important;
    }
}

:root[data-wmpotify-style="xp"] {
    /* Add panel gaps again to show frames there */
    /* And extra 8px on the left if LibX is shown */
    .Root__main-view {
        margin-left: 0;
        width: 100%;
    }

    #main:has(.Root__right-sidebar aside) .Root__main-view {
        width: calc(100% + var(--panel-gap) - 3px);
    }

    .Root__globalNav {
        margin-left: 0;
        margin-right: 0;
    }

    #Desktop_LeftSidebar_Id {
        margin-left: var(--panel-gap);
    }

    .Root__right-sidebar {
        margin-right: 0;
    }

    body[data-hide-libx] {
        .Root__main-view {
            margin-left: calc(var(--panel-gap) * -2);
            width: calc(100% + var(--panel-gap) * 2);
        }

        #main:has(.Root__right-sidebar aside) .Root__main-view {
            width: calc(100% + var(--panel-gap) * 3 - 3px);
        }
    }
}