:root[data-wmpotify-style="aero"],
:root[data-wmpotify-style="xp"] {
    background: transparent;
}

:root[data-wmpotify-style="xp"][data-wmpotify-title-style="native"] {
    background: black;
}

:root[data-wmpotify-dark-mode] {
    .Root__main-view {
        background: #2e2e2e;

        .main-topBar-container {
            background: #222222;
        }
    }
}

.Root__top-container {
    background: transparent;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: calc(100% - var(--player-bar-height));
        background-color: var(--wmp11-window);
    }
}

.Root__main-view {
    width: calc(100% + var(--panel-gap));

    /* 1.2.55 compatibility */
    > div:first-child:not(.main-view-container) {
        height: 100%;
    }
}

#main:has(.Root__right-sidebar aside) .Root__main-view {
    width: calc(100% + var(--panel-gap) - 3px);
}

body[data-hide-libx],
:root:fullscreen {
    #Desktop_LeftSidebar_Id {
        display: none;
    }

    .Root__main-view {
        margin-left: calc(var(--panel-gap) * -2);
        width: calc(100% + var(--panel-gap) * 3);
    }

    #main:has(.Root__right-sidebar aside) .Root__main-view {
        width: calc(100% + var(--panel-gap) * 3 - 3px);
    }
}

.Root__main-view {
    border-radius: 0 !important;

    .main-topBar-container {
        position: relative;
        width: 100%;
        height: 28px;
        border-bottom: solid 1px var(--wmp11-separator-shadow);
        outline: solid 1px var(--wmp11-separator-light);
        overflow: hidden;

        &:has(.main-topBar-topbarContentWrapper:empty) {
            display: none;
        }

        &:has(.main-topBar-topbarContent > span.main-entityHeader-topbarTitle) {
            position: absolute;
            width: calc(100% - var(--scrollbar-size));
            outline: none;

            &:not(:has(.main-entityHeader-topbarContentFadeIn)) {
                display: none;
            }
        }

        nav ul {
            display: flex;
        }
    }
}

.marketplace-header {
    top: 12px;
    background: #2e2e2e;
}

.Root__right-sidebar {
    margin-right: calc(var(--panel-gap) * -1);
    aside {
        background: transparent !important;
        border-radius: 0 !important;

        &::before {
            background: transparent !important;
        }

        div:has([data-testid='NPV_Panel_OpenDiv']) {
            background: transparent !important;
        }

        div[data-testid="PanelHeader_CloseButton"] button {
            width: 16px;
            height: 16px;
            position: absolute;
            top: 6px;
            right: 12px;
            border-radius: 0;
            background: url('resources/sidebar/sbclose.png') no-repeat;
            transform: none !important;
    
            svg {
                display: none;
            }
        }
    }

    div {
        transition: none !important;
    }

    .LayoutResizer__resize-bar.LayoutResizer__inline-start {
        opacity: 1 !important;
        width: 3px;
        inset-inline-start: -3px;
        border-left: solid 1px var(--wmp11-window);
        background-color: var(--wmp11-separator-shadow);
        border-right: solid 1px var(--wmp11-separator-light);
        cursor: ew-resize;
    
        &::after {
            display: none;
        }
    }

    &:not(:has(aside)) {
        .LayoutResizer__resize-bar.LayoutResizer__inline-start {
            display: none;
        }
    }
}

.Root {
    --main-area-right: 0px;
    &:has(.Root__right-sidebar aside) {
        --main-area-right: calc(var(--panel-width, var(--right-sidebar-width)) * 1px + 3px);
    }
}

.main-loadingIndicator-loadingIcon {
    width: 32px;
    height: 32px;
    background: url('resources/icon/spinner.webp') no-repeat;

    svg {
        display: none;
    }
}

:root[data-wmpotify-style="xp"] {
    /* Add panel gaps again to show frames there */
    /* And extra 8px on the left if LibX is shown */
    .Root__main-view {
        margin-left: 0;
        width: 100%;
    }

    .Root {
        --main-area-right: var(--panel-gap);
        &:has(.Root__right-sidebar aside) {
            --main-area-right: calc(var(--panel-width, var(--right-sidebar-width)) * 1px + var(--panel-gap) + 3px);

            .Root__main-view {
                width: calc(100% + var(--panel-gap) - 3px);
            }
        }
    }

    .Root__globalNav {
        margin-left: 0;
        margin-right: 0;
    }

    #Desktop_LeftSidebar_Id {
        margin-left: var(--panel-gap);
    }

    .Root__right-sidebar {
        margin-right: 0;
    }

    body[data-hide-libx] {
        .Root__main-view {
            margin-left: calc(var(--panel-gap) * -1);
            width: calc(100% + var(--panel-gap) * 1);
        }

        #main:has(.Root__right-sidebar aside) .Root__main-view {
            width: calc(100% + var(--panel-gap) * 2 - 3px);
        }
    }

    &:fullscreen {
        .Root__main-view {
            margin-left: calc(var(--panel-gap) * -2) !important;
            width: calc(100% + var(--panel-gap) * 3) !important;
        }

        #main:has(.Root__right-sidebar aside) .Root__main-view {
            width: calc(100% + var(--panel-gap) * 3 - 3px) !important;
        }
    }
}