.Root__globalNav {
    height: 36px;
    background: url('resources/topbar/bgstrip.png') repeat-x;
    border-image: url('resources/topbar/bg.png') 2 / 2px 1px 2px 1px;
    justify-content: center;
    margin: calc(var(--panel-gap) * -1); /* For Spotify 1.2.46 and below compatibility, present by default in xpui.css on 1.2.47+ */

    /* Marketplace load bugfix */
    padding-inline: 0 !important;
    &:has(#wmpotify-tabs-container) {
        padding-inline: 8px !important;
    }
}

.main-globalNav-historyButtons {
    height: 35px;
    margin-top: -1px;
    margin-left: -1px;
    background: url('resources/topbar/nav_disabled.png') no-repeat;
    gap: 0 !important;
    padding-inline: 0 !important;

    > button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 30px;
        min-height: 0;
        max-height: 35px;
        opacity: 1 !important;
        transform: none !important;
        cursor: default !important;

        > span {
            display: none;
        }

        &:first-child {
            background: url('resources/topbar/nav.png') 0 0 / 200% 100%;

            &:hover {
                background: url('resources/topbar/nav_hover.png') 0 0 / 200% 100%;
            }

            &:active {
                background: url('resources/topbar/nav_pressed.png') 0 0 / 200% 100%;
            }

            &:disabled {
                background: url('resources/topbar/nav_disabled.png') 0 0 / 200% 100%;
            }
        }

        &:nth-child(2) {
            width: 29px;
            background: url('resources/topbar/nav.png') -100% 0 / 200% 100%;

            &:hover {
                background: url('resources/topbar/nav_hover.png') -100% 0 / 200% 100%;
            }

            &:active {
                background: url('resources/topbar/nav_pressed.png') -100% 0 / 200% 100%;
            }

            &:disabled {
                background: url('resources/topbar/nav_disabled.png') -100% 0 / 200% 100%;
            }
        }
    }

    > :not(button) {
        display: flex;
        align-items: center;
        * {
            color: white;
        }
    }
}

.main-globalNav-searchContainer,
.custom-navlinks-scrollable_container {
    display: none;
}

.main-topBar-topbarContentRight > .main-actionButtons {
    > button {
        display: none;
    }

    button {
        background: none;
        border: none;

        svg {
            color: white;
        }
    }
}

/* Tabs */
#wmpotify-tabs-container {
    display: flex;
    position: absolute;

    > button:not(#wmpotify-tabs-overflow-button) {
        min-width: 99px;
        width: auto;
        height: 36px;
        min-height: 0;
        background: none !important;
        border: 6px solid transparent;
        border-image: 6 4 2 4 fill stretch;
        border-image-width: 6px 4px 2px 4px;
        border-radius: 0 !important;
        color: white !important;
        font-weight: normal !important;
        display: block !important;
        transform: none !important;
        cursor: default !important;
        padding-block: 0;
        padding-inline: 0;
        margin-inline-start: 0;

        &[data-hidden] {
            display: none !important;
        }

        svg {
            display: none;
        }

        .wmpotify-tab-label {
            position: relative;
            top: 0;
            left: 0;
            font-size: 13px;
            text-align: center;
        }

        .main-topBar-buddyFeed {
            height: 36px !important;
        }

        &:hover {
            border-image-source: url('resources/topbar/tab_hover.png');
        }

        &:active {
            border-image-source: url('resources/topbar/tab_pressed.png');
        }

        &.main-globalNav-navLinkActive,
        &:has(svg.Svg-img-icon-small-textBase) {
            border-image-source: url('resources/topbar/tab_active.png');

            &:hover {
                border-image-source: url('resources/topbar/tab_active_hover.png');
            }

            &:active {
                border-image-source: url('resources/topbar/tab_active_pressed.png');
            }
        }

        &[data-hidden] {
            display: none;
        }
    }

    > button[data-identifier="now-playing"] {
        position: relative;
        margin-right: 17px;

        &::after {
            content: '';
            position: absolute;
            top: -6px;
            right: -15px;
            width: 2px;
            height: 36px;
            background: url('resources/topbar/separator.png') no-repeat;
        }
    }

    > #wmpotify-tabs-overflow-button {
        display: none;
        width: 19px;
        height: 36px;
        border: none;
        background: url('resources/topbar/overflow.png') no-repeat;

        &:hover {
            background-image: url('resources/topbar/overflow_hover.png');
        }
    }
}

/* User button */
.main-topBar-topbarContentRight > button:last-child {
    min-width: 64px;
    width: auto;
    height: 36px;
    min-height: 0;
    background: none !important;
    border: 10px solid transparent;
    border-image: url('resources/topbar/user.png') 10 5 10 5 fill stretch;
    border-image-width: 10px 5px 10px 5px;
    border-radius: 0 !important;
    color: white !important;
    font-weight: normal !important;
    display: block !important;
    transform: none !important;
    cursor: default !important;
    font-size: 11px;
    line-height: 1;

    figure,
    > span:not(.wmpotify-user-label) {
        display: none;
    }

    /* Spotify update alert */
    svg {
        display: none;
    }

    &:hover {
        border-image-source: url('resources/topbar/user_hover.png');
    }

    &:active {
        border-image-source: url('resources/topbar/user_pressed.png');
    }
}

/* Search bar */
#wmpotify-search-container {
    position: absolute;
    top: 36px;
    left: 0;
    width: 100%;
    height: 30px;
    border-bottom: solid 1px var(--wmp11-separator-light);
    box-shadow: var(--wmp11-separator-shadow) -1px -1px inset;
    z-index: 99;
    display: none;

    #wmpotify-search-wrapper {
        float: right;
        position: relative;
        margin: 2px;
        width: 225px;
        height: 24px;
        border: solid 1px #f4f7fc;
        background: linear-gradient(to bottom, #5e5f61, #c0c3c6);

        input[type="search"] {
            margin: 1px;
            width: calc(100% - 2px);
            height: 20px;
            border: solid 1px white;
            background-color: #f6f9fc;
            font-size: 12px;
            border-radius: 0;
            min-height: 0;
            padding-inline: 4px;
            padding-block: unset;
            box-shadow: none;
            cursor: text !important;

            &::placeholder {
                font-style: italic;
            }
        }

        #wmpotify-search-clear-button {
            position: absolute;
            top: 1px;
            right: 0px;
            width: 26px;
            height: 20px;
            border: none;
            background: url('resources/topbar/search.png') no-repeat;
        }

        &:has(input[type="search"]:not(:placeholder-shown)) #wmpotify-search-clear-button {
            background: url('resources/topbar/clear.png') no-repeat;

            &:hover {
                background: url('resources/topbar/clear_hover.png') no-repeat;
            }

            &:active {
                background: url('resources/topbar/clear_pressed.png') no-repeat;
            }
        }
    }
}

#main:has(.Root__right-sidebar aside) #wmpotify-search-container {
    width: calc(100vw - var(--panel-width, var(--right-sidebar-width)) * 1px - 1px);
}

:root[data-wmpotify-style="xp"] {
    width: calc(100vw - var(--panel-gap) * 2 - 1px);

    #main:has(.Root__right-sidebar aside) #wmpotify-search-container {
        width: calc(100vw - var(--panel-gap) * 2 - var(--panel-width, var(--right-sidebar-width)) * 1px - 1px);
    }
}

#main:has(#searchPage) {
    #wmpotify-search-container {
        display: block;
    }

    #wmpotify-tabs-container button[data-identifier="search"] {
        border-image-source: url('resources/topbar/tab_active.png');

        &:hover {
            border-image-source: url('resources/topbar/tab_active_hover.png');
        }

        &:active {
            border-image-source: url('resources/topbar/tab_active_pressed.png');
        }
    }

    .Root__main-view {
        margin-top: 30px;
    }
}

#main:has(#wmpvis) {
    #wmpotify-tabs-container button[data-identifier="now-playing"] {
        border-image-source: url('resources/topbar/tab_active.png');

        &:hover {
            border-image-source: url('resources/topbar/tab_active_hover.png');
        }

        &:active {
            border-image-source: url('resources/topbar/tab_active_pressed.png');
        }
    }
}