:root[data-wmpotify-control-style="xp"] {
  button.wmpotify-aero,
  button.Button-sc-y0gtbx-0,
  .ReactModalPortal button.Button-sc-qlcn5g-0,
  .ReactModalPortal button.Button-sc-1dqy6lx-0,
  #context-menu button.Button-sc-1dqy6lx-0,
  #context-menu button.Button-sc-qlcn5g-0,
  .spicetify-exp-features button.reset:not(#Prio1):not(#Prio2) {
    font-size: 11px;
    box-sizing: border-box;
    border: 1px solid #003c74;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
    box-shadow: none;
    border-radius: 3px;
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;

    &:not(:disabled) {
        &:active,
        &[data-active],
        &.active {
            box-shadow: none !important;
            background: linear-gradient(
                180deg,
                rgba(205, 202, 195, 1) 0%,
                rgba(227, 227, 219, 1) 8%,
                rgba(229, 229, 222, 1) 94%,
                rgba(242, 242, 241, 1) 100%
            );
        }
        &:hover {
            box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
        }
    }
    &:focus,
    &.focused {
        box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4,
            inset 2px -2px #89ade4;
    }
  }
}