:root:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="xp"]):not([data-wmpotify-control-style="10"]) {
  --border-field: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--button-shadow-color), inset -2px -2px var(--surface),
    inset 2px 2px var(--window-frame);

  select.wmpotify-aero,
  .main-dropDown-dropDown {
    font-size: 11px;
    padding: 3px 4px;
    border: none;
    box-shadow: var(--border-field);
    color: var(--window-text);
    background-color: var(--window);
    box-sizing: border-box;
    appearance: none;
    border-radius: 0;
    height: 21px;
    position: relative;
    background-image: url("resources/icon/98/button-down.svg");
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    padding-right: 32px;

    &:focus {
      color: var(--hilight-text);
      background-color: var(--hilight);
      outline: none;

      option {
        color: var(--window-text);
        background-color: var(--window);
      }
    }

    &:not(:disabled):active {
      background-image: url("resources/icon/98/button-down-active.svg");
    }

    &:disabled {
      color: var(--gray-text);
      background-color: var(--button-face);
    }
  }

  &[data-wmpotify-control-style="standard"] {
    select.wmpotify-aero,
    .main-dropDown-dropDown {
      background-image: url("resources/icon/2k/button-down.svg");
  
      &:not(:disabled):active {
        background-image: url("resources/icon/2k/button-down-active.svg");
      }
    }
  }

  &[data-wmpotify-dark-mode] {
    select.wmpotify-aero,
    .main-dropDown-dropDown {
      background-image: url("resources/icon/98dark/button-down.svg");
  
      &:not(:disabled):active {
        background-image: url("resources/icon/98dark/button-down-active.svg");
      }
    }
  }
}