:root:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="10"]) {
  /* For Spotify menus */
  #context-menu {
    ul:not([id*="curation-"]) {
      &[role] {
        margin: 0;
        padding: 0;
        list-style: none;
        cursor: default;
      }

      &[role="menu"] {
        min-width: 120px;
        padding: 3px;
        background: var(--surface);
        color: initial;
        box-shadow: var(--border-window-outer), var(--border-window-inner), 5px 5px 4px -4px rgba(0, 0, 0, 0.75);
        border-radius: 0;
        overflow-x: hidden;
        animation: fade 0.2s;

        .main-contextMenu-filterPlaylistSearchContainer {
          height: unset;
        }

        .main-contextMenu-filterPlaylistSearch {
          display: none;
        }

        [role="menuitem"] & {
          display: none;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 99;
        }

        & [role="menuitem"] > [role="menu"] {
          top: -4px;
          left: 100%;
        }

        > [role="menuitem"],
        .main-contextMenu-menuItem {
          &:has(> span) {
            display: none;
          }

          .main-contextMenu-menuItemButton {
            height: 18px;

            span {
              margin-left: 7px;
              line-height: 1.1;
              overflow: visible;
            }
          }

          > a,
          > button,
          > label,
          &[aria-haspopup="true"] {
            all: unset;
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 3px 10px 3px 10px;
            box-sizing: border-box;
            white-space: nowrap;

            &:hover,
            &:focus-visible {
              background: var(--hilight);
              color: var(--hilight-text);

              > span::before {
                filter: invert(1);
              }

              svg {
                fill: var(--hilight-text) !important;
              }
            }

            span {
              font: var(--menu-font);
            }

            /* Checkmark */
            &:has(
                path[d="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0z"]
              ) {
              svg:has(
                  path[d="M15.53 2.47a.75.75 0 0 1 0 1.06L4.907 14.153.47 9.716a.75.75 0 0 1 1.06-1.06l3.377 3.376L14.47 2.47a.75.75 0 0 1 1.06 0z"]
                ) {
                display: none;
              }

              > span::before {
                content: "";
                display: block;
                position: absolute;
                top: 1px;
                left: 0;
                width: 16px;
                height: 16px;
                background: url("resources/icon/marlett/check_menu.svg")
                  no-repeat;
                z-index: 2;
              }

              &:has(svg.activeStyle) > span::before {
                content: "â—";
                font-family: Arial !important;
                font-size: 1.3em !important;
                color: black !important;
                position: absolute;
                top: 0;
                left: 4px;
                width: unset;
                height: unset;
                background: none;
              }
            }
          }

          > button,
          > a {
            &::after {
              content: none;
            }

            span:not(:first-child) svg.Svg-img-icon-small {
              /* submenu mark */
              left: auto;
              top: 3px;
              right: -3px;
              transform: scale(0.6) rotate(90deg);
            }

            &[class*=" "] {
              /* has multiple classes, usually meaning a separator on top or bottom */
              /* :not(:first-child) - dirty workaround for non-separator class being used in artist context menu ('Create Discog Collection') */
              /* assume top here */
              &::before {
                top: -7px;
                left: 1px;
                width: calc(100% - 1px);
                border: none;
                border-top: solid 1px var(--button-shadow-color);
                border-bottom: solid 1px var(--button-hilight);
              }
              margin-top: 9px;
            }
          }

          svg {
            position: absolute;
            top: 1px;
            left: 0;
            transform: scale(0.6);
          }
        }

        li:first-child,
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4),
        li:nth-child(5),
        li:nth-child(6) {
          button[class*=" "] {
            /* has multiple classes, usually meaning a separator on top or bottom */
            /* assume bottom here */
            &::before {
              content: "";
              position: absolute;
              top: unset !important;
              bottom: -6px;
              pointer-events: none;
            }
            margin-top: 0 !important;
            margin-bottom: 9px;
          }
        }

        /* Bottom separator, verified classname being consistent in Spotify 1.2.45, .52, .53, .55, and .56 */
        .Vz3pFUXmll6fKB5Fc4nd:not(#Prio1):not(#Prio2) {
          &::before {
            content: "";
            position: absolute;
            top: unset !important;
            bottom: -6px;
            pointer-events: none;
          }
          margin-top: 0 !important;
          margin-bottom: 9px;
        }

        /* Hide the bottom separator if there is no menu below */
        &:not(:has(+ [role="menu"])) {
          .main-contextMenu-menuItem:not(:has(+ .main-contextMenu-menuItem)) {
            .Vz3pFUXmll6fKB5Fc4nd:not(#Prio1):not(#Prio2) {
              &::before {
                display: none;
              }
            }
          }
        }

        &:has(+ [role="menu"]) {
          position: relative;
          border-bottom: 0;

          &::after {
            content: "";
            pointer-events: none;
            position: absolute;
            left: 1px;
            right: 1px;
            bottom: 0;
            height: 2px;
            background: var(--surface);
            border-left: solid 1px var(--button-hilight);
            border-right: solid 1px var(--button-shadow-color);
            border-bottom: none;
            z-index: 2;
          }

          + [role="menu"] {
            position: relative;
            border-top: 0;
            padding-top: 0;
            margin-top: -2px;
          }
        }
      }
    }

    /* Add to playlist menu */
    form,
    ul[id*="curation-folder-submenu-"] {
      background: var(--surface);
      border-radius: 0;
      box-shadow: var(--border-window-outer), var(--border-window-inner);

      > div:last-child {
        background: transparent;
      }

      [role="search"] {
        width: 100%;
      }
    }
  }
}