html:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="xp"]):not([data-wmpotify-control-style="10"]) {
  ::-webkit-scrollbar {
    width: 16px;

    &:horizontal {
      height: 17px;
    }

    &-corner {
      background: var(--surface);
    }

    &-track {
      background-image: url("resources/icon/98/scrollbar-background.svg");
    }

    &-thumb {
      background-color: var(--surface);
      box-shadow: var(--border-raised-outer), var(--border-raised-inner);
    }

    &-button {
      &:horizontal {
        &:start {
          &:decrement,
          &:increment {
            display: block;
          }

          &:increment,
          &:decrement {
            display: none;
          }

          background-image: url("resources/icon/98/button-left.svg");
          width: 16px;
        }

        &:end {
          &:decrement,
          &:increment {
            display: block;
          }

          &:increment,
          &:decrement {
            display: none;
          }

          background-image: url("resources/icon/98/button-right.svg");
          width: 16px;
        }
      }

      &:vertical {
        &:start {
          &:decrement,
          &:increment {
            display: block;
          }

          background-image: url("resources/icon/98/button-up.svg");
          height: 17px;
        }

        &:end {
          &:decrement,
          &:increment {
            display: block;
          }

          background-image: url("resources/icon/98/button-down.svg");
          height: 17px;
        }
      }

      &:horizontal:start:increment,
      &:horizontal:end:decrement,
      &:vertical:start:increment,
      &:vertical:end:decrement {
        display: none !important;
      }
    }
  }

  &[data-wmpotify-control-style="standard"] {
    ::-webkit-scrollbar {
      &-track {
        background-image: url("resources/icon/2k/scrollbar-background.svg");
      }
  
      &-button {
        &:horizontal {
          &:start {
            background-image: url("resources/icon/2k/button-left.svg");
          }
  
          &:end {
            background-image: url("resources/icon/2k/button-right.svg");
          }
        }
  
        &:vertical {
          &:start {
            background-image: url("resources/icon/2k/button-up.svg");
          }
          &:end {
            background-image: url("resources/icon/2k/button-down.svg");
          }
        }
      }
    }
  }
}