:root:not([data-wmpotify-control-style="aero"]):not([data-wmpotify-control-style="xp"]):not([data-wmpotify-control-style="10"]) {    
    input.wmpotify-aero[type="text"],
    input.search[type="text"],
    .main-trackCreditsModal-originalCredits input[type="text"],
    input.wmpotify-aero[type="email"],
    .main-trackCreditsModal-originalCredits input[type="email"],
    input.wmpotify-aero[type="number"],
    .main-trackCreditsModal-originalCredits input[type="number"],
    input.wmpotify-aero[type="password"],
    .main-trackCreditsModal-originalCredits input[type="password"],
    textarea.wmpotify-aero,
    .main-trackCreditsModal-originalCredits textarea {
        font: var(--font);
        padding: 3px 4px;
        border: none;
        box-shadow: var(--border-field);
        color: var(--window-text);
        background-color: var(--window);
        box-sizing: border-box;
        appearance: none;
        border-radius: 0;
        height: 21px;
        &:focus {
            outline: none;
        }
        &:disabled,
        &:read-only {
            background-color: transparent;
        }
        &::selection {
            background-color: var(--hilight);
            color: var(--hilight-text);
        }
    }
}