:root[data-wmpotify-control-style="aero"] {
  select.wmpotify-aero,
  .main-dropDown-dropDown {
    font: var(--font);
    height: 23px;
    padding: 2px 3px;
    border: var(--button-border);
    border-color: var(--button-border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--button-shadow);
    box-sizing: border-box;
    color: #222;
    appearance: none;
    position: relative;
    padding-right: 30px;
    background: url("resources/icon/button-down.svg"), var(--button-gradient);
    background-position: center right;
    background-repeat: no-repeat;

    &:not(:disabled):hover {
      border-color: var(--button-border-color-hovered);
      background-image: url("resources/icon/button-down.svg"),
        var(--button-gradient-hovered);
    }

    &:not(:disabled):active {
      outline: none;
      border-color: var(--button-border-color-active);
      box-shadow: var(--button-shadow-active);
      background-image: url("resources/icon/button-down.svg"),
        var(--button-gradient-active);
    }

    &:not(:disabled):focus {
      color: #222;
      outline: 1px dotted #000;
      outline-offset: -4px;
      box-shadow: inset 0 0 0 2px var(--button-shade-light-active);
    }
  }
}

:root[data-wmpotify-control-style="xp"] {
  select.wmpotify-aero,
  .main-dropDown-dropDown {
    font-size: 11px;
    padding: 3px 4px;
    box-sizing: border-box;
    appearance: none;
    border-radius: 0;
    appearance: none;
    position: relative;
    padding-right: 32px;
    border: 1px solid #7f9db9 !important;
    height: 23px;
    box-shadow: none;
    color: black;
    background: white;
    background-image: url("resources/icon/xp/dropdown.svg") !important;
    background-size: 15px !important;
    background-position: top 2px right 2px !important;
    background-repeat: no-repeat;
    box-shadow: none !important;
    &:focus {
      box-shadow: inset 2px 2px white, inset -2px -2px white !important;
      outline: none;
      color: #fff;
      background-color: #2267cb;
      option {
          color: #000;
          background-color: #fff;
      }
    }
    &:not(:disabled):hover {
      background-image: url("resources/icon/xp/dropdown-hover.svg") !important;
    }
    &:not(:disabled):active {
      background-image: url("resources/icon/xp/dropdown-active.svg") !important;
    }
    &:disabled {
      background-color: transparent !important;
    }
  }
}

.main-dropDown-dropDown {
  height: auto;
}