@import "aero/menu.scss";
@import "xp/menu.scss";
@import "classic/menu.scss";
@import "10/menu.scss";

[data-tippy-root][data-wmpotify-force-transform] {
  transform: var(--tippy-force-transform) !important;
}

/* For MadMenu */
@keyframes fade {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.contextMenuBg {
  display: none;
  position: absolute;
  top: 24px;
  overflow: hidden;
  animation: fade 0.2s;
  background-color: var(--menu) !important;
  color: var(--menu-text) !important;
  cursor: default;
  pointer-events: auto;
  box-shadow: var(--border-window-outer), var(--border-window-inner), 5px 5px 4px -4px rgba(0, 0, 0, 0.75);
  padding: 3px;
  box-sizing: content-box;
}

.contextMenuBg u {
  border-bottom-color: var(--underline);
}

.contextMenuBg:focus,
.dropdownBg:focus {
  outline: none;
}

.contextMenu {
  position: absolute;
  right: 3px;
  bottom: 3px;
  margin: 0 !important;
}

.contextMenuItem {
  width: 100%;
  height: calc(var(--menu-height) - 1px);
  font-size: 11px;
  padding-left: 2px;
  position: relative;
  font: var(--menu-font);
  line-height: unset;
  box-sizing: border-box;
}

.contextMenuItem p {
  margin: 0;
  padding-top: 2px;
}

.contextMenuItem p {
  padding-left: 16px;
}

.confMenu .contextMenuItem p {
  padding-left: 20px;
}

.contextMenuItem.activeStyle p::before {
  content: "●";
  font-family: Arial !important;
  font-size: 1.3em !important;
  position: absolute;
  top: -1px;
  left: 6px;
}

.contextMenuItem.checkedItem p::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("resources/icon/marlett/check_menu.svg")
    no-repeat;
}

.contextMenuItem[data-active] {
  background-color: var(--hilight);
  color: var(--hilight-text);
}

.contextMenuItem[data-active] u {
  border-bottom-color: var(--underline-hilight);
}

.contextMenuItem[data-hidden] {
  display: none;
}

.contextMenu hr {
  width: 100%;
  margin-top: calc(var(--menu-height) / 4 - 1.5px);
  margin-left: 1px;
  margin-right: 0;
  margin-bottom: calc(var(--menu-height) / 4 - 0.5px);
  border: none;
  border-top: solid 1px var(--button-shadow-color);
  border-bottom: solid 1px var(--button-hilight);
}

.submenuMark {
  position: absolute;
  top: 50%;
  right: -2px;
  transform: translateY(calc(-50% - 4px));
}

.disabled,
[data-disabled] {
  color: var(--button-shadow-color) !important;
  text-shadow: 1px 1px 0 var(--button-hilight) !important;
}

.disabled u,
button[disabled] u,
[data-disabled] u {
  border-bottom-color: var(--underline-disabled);
}