@import "aero/scrollbar.scss";
@import "xp/scrollbar.scss";
@import "classic/scrollbar.scss";
@import "10/scrollbar.scss";

/* Remove Spotify's custom scrollbar and make it use the standard WebKit scrollbar */
[data-overlayscrollbars-initialize],
[data-overlayscrollbars-viewport],
.wmpotify-config-tab-content,
.wmpotify-code-container {
  scrollbar-color: initial !important;
  scrollbar-width: auto !important;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-corner {
    -webkit-appearance: auto !important;
    appearance: auto !important;
    display: unset !important;
    height: unset !important;
    width: unset !important;
  }

  &:has(.LyricsScrollContainer) {
    overflow: hidden !important;
  }
}

.os-scrollbar {
  display: none !important;
}

/* But exclude collapsed LibraryX sidebar */
#Desktop_LeftSidebar_Id:not(:has(.main-yourLibraryX-libraryFilter)) {
  .main-yourLibraryX-libraryContainer,
  [data-overlayscrollbars-initialize],
  [data-overlayscrollbars-viewport] {
    scrollbar-width: none !important;
  }

  .os-scrollbar {
    display: block !important;
  }
}
