.main-contextMenu-tippy {
  padding: 0 6px 2px 5px;
  border: 1px solid #767676;
  border-radius: 3px;
  box-shadow: 5px 5px 3px -3px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, white, var(--button-shade-light));
  font: var(--status-font) !important;
}