#wmpotify-config {
    position: relative;
    background: black;
    color: white;
    font-size: 12px;
    height: 135px;
    flex-shrink: 0;
    display: none;

    &-topborder {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(
            to right,
            #14171d 0%,
            #282d39 17%,
            #282d39 84%,
            #14171d 100%
        );
        cursor: ns-resize;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background: linear-gradient(
                to right,
                #2f3442 0%,
                #5d6884 17%,
                #5d6884 84%,
                #2f3442 100%
            );
        }

        &::after {
            top: 2px;
        }
    }

    &-prev {
        margin-top: 4px;
        margin-left: 3px;
        width: 18px;
        height: 18px;
        background: url('resources/config/prev.png') no-repeat;
        border: none;

        &:hover {
            background-image: url('resources/config/prev_hover.png');
        }

        &:active {
            background-image: url('resources/config/prev_pressed.png');
        }
    }

    &-next {
        margin-top: 4px;
        margin-left: -1px;
        width: 18px;
        height: 18px;
        background: url('resources/config/next.png') no-repeat;
        border: none;

        &:hover {
            background-image: url('resources/config/next_hover.png');
        }

        &:active {
            background-image: url('resources/config/next_pressed.png');
        }
    }

    &-title {
        position: absolute;
        top: 4px;
        left: 46px;
        font-weight: bold;
    }

    &-close {
        position: absolute;
        top: 8px;
        right: 6px;
        width: 11px;
        height: 11px;
        background: url('resources/config/close.png') no-repeat;
        border: none;

        &:hover {
            background-image: url('resources/config/close_hover.png');
        }

        &:active {
            background-image: url('resources/config/close_pressed.png');
        }
    }

    .wmpotify-config-tab-content {
        display: none;
        margin-left: 10px;
        height: calc(100% - 25px);
        overflow-y: auto;
    }

    &-hue {
        width: 354px;
        height: 3px;
        background: url('resources/config/hue.png') no-repeat;
    }

    &-sat {
        width: 354px;
        height: 3px;
        background: url('resources/config/sat.png') no-repeat;
    }

    label[for="wmpotify-config-tint-playerbar"] {
        margin-left: 10px;
    }

    &-font,
    &-topmost {
        margin-top: 3px;
    }

    label[for="wmpotify-config-show-libx"],
    label[for="wmpotify-config-lock-title"] {
        &::after {
            top: -2px;
        }
    }

    &-speed {
        position: relative;
        width: 192px;
        height: 3px;
        margin-top: 11px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -11px;
            left: 5px;
            width: 182px;
            height: 25px;
            background: url('resources/config/speed.png') no-repeat;
        }
    }

    #wmpotify-about-logo {
        width: 32px;
        height: 32px;
        background: var(--logo-32) no-repeat;
        float: left;
        margin-top: -5px;
    }

    #wmpotify-about-title {
        font-size: 20px;
        font-weight: bold;
        font-family: sans-serif;
        text-align: left;
        margin-left: 38px;
        margin-top: 5px;
        margin-bottom: -8px;
    }

    a {
        color: #abd5fd !important;
        text-decoration: underline;
    }
}