:root {
    --libx-sidebar-width: 170px;
}

.main-view-container__scroll-node-child:has(.main-yourLibraryX-libraryContainer) {
    height: 100%;
    padding-bottom: 0;
    > main {
        height: 100%;
        > section {
            height: 100%;
        }
    }
}

.main-yourLibraryX-libraryContainer {
    > div {
        box-shadow: none;
    }

    > div:last-child {
        overflow: visible !important;
        height: calc(100% - var(--player-bar-height) + 5px);
    }

    .main-yourLibraryX-filterArea {
        position: relative;
        width: 100%;
        height: 29px;
        border-bottom: solid 1px var(--wmp11-separator-shadow);
        outline: solid 1px var(--wmp11-separator-light);
        overflow: hidden;
        margin: 0;

        [role="presentation"] {
            order: -1;
        }
    }

    [role="combobox"] {
        top: -3px;
        min-height: 0;
        color: black;
        padding: 0;
        opacity: 1 !important;
        transform: none !important;

        [class*=encore-text] {
            order: 1;
            font-size: 12px;
        }

        span:nth-child(2) {
            width: 16px;
            height: 16px;
            margin-top: 1px;
            margin-left: 2px;
            margin-right: 3px;
            background: url('resources/icon/list.png') no-repeat;

            svg {
                display: none;
            }
        }

        &::after {
            content: '⏷';
            font-size: 12px;
            color: black;
            margin-top: -2px;
            margin-left: 4px;
            margin-right: -2px;
            order: 2;
            inline-size: unset;
        }
    }

    /* listview header */
    .main-yourLibraryX-filterArea + div {
        background: none !important;
        border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0;
        height: 25px;
        margin: 0;
        padding: 0 32px 0 8px;
        margin-top: 1px;

        > span {
            height: 25px;
            border-image: url('resources/ui/listview_header.png') 0 2 1 2 fill stretch;
            border-image-width: 0 2px 1px 2px;
            padding-left: 5px;
            color: #77797d;
            line-height: 2;
            font-size: 12px;
            font-weight: normal;

            &:last-child {
                justify-self: start;
            }
        }
    }

    .main-rootlist-wrapper {
        margin-bottom: 50px;
    }

    &:has(.main-rootlist-wrapper[style*="row-height: 32"]) {
        .main-yourLibraryX-filterArea {
            [role="combobox"] {
                span:nth-child(2) {
                    background-image: url('resources/icon/compact.png');
                }
            }
        }
    }

    &:has(ul[role="treegrid"]) {
        .main-yourLibraryX-filterArea {
            [role="combobox"] {
                span:nth-child(2) {
                    background-image: url('resources/icon/grid.png');
                }
            }
        }
    }

    li[role="listitem"] {
        div[data-encore-id="listRow"] {   
            border: solid 1px transparent;
            border-radius: 4px;

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            &::after {
                display: none;
            }
        }

        span:last-child {
            justify-self: start;
        }
    }

    /* Custom header */
    #wmpotify-libx-header {
        position: absolute;
        top: 0;
        left: 0;
        height: 29px;
        z-index: 1;
        display: flex;
        padding-top: 3px;
        padding-left: 4px;

        .wmpotify-libx-header-root-icon {
            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                margin-left: -2px;
                background: url('resources/library/music.png') no-repeat;
            }
        }

        > div,
        > button {
            display: flex;
            padding-left: 1px;

            &:not(:last-child)::after {
                content: '⏵';
                font-size: 12px;
                color: black;
                margin-top: -2px;
                margin-left: 4px;
                margin-right: -2px;
            }
        }

        > div {
            pointer-events: none;
        }
    }

    /* Custom sidebar */
    #wmpotify-libx-sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: var(--libx-sidebar-width);
        border-right: solid 1px var(--wmp11-separator-light);
        outline: solid 1px var(--wmp11-separator-shadow);
        padding-top: 1px;
        padding-left: 20px;
        margin-top: -26px;

        .wmpotify-libx-sidebar-item {
            display: flex;
            appearance: none;
            border: solid 1px transparent;
            border-radius: 3px;
            background: none;
            font-size: 12px;
            color: black;
            text-align: left;
            height: 18px;
            padding-right: 5px;

            &:hover {
                background: var(--item-hover-background);
                border-color: var(--item-hover-border);
            }

            &.active {
                background: var(--item-hover-background);
                border-color: #95dbfd;
            }

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                margin-left: 1px;
                margin-right: 6px;
                background: url('resources/library/library.png') no-repeat;
            }

            &[data-identifier="playlist"]::before {
                background-image: url('resources/library/playlist.png');
            }

            &[data-identifier="artist"]::before {
                background-image: url('resources/library/artist.png');
            }

            &[data-identifier="album"]::before {
                background-image: url('resources/library/album.png');
            }

            &[data-identifier="downloaded"]::before {
                background-image: url('resources/library/download.png');
            }

            &[data-identifier="by-you"]::before {
                background-image: url('resources/library/playlist_user2.png');
            }

            &[data-identifier="by-spotify"]::before {
                background-image: url('resources/library/playlist_auto.png');
            }

            &:has(input:checked) + .wmpotify-libx-sidebar-downlevel {
                display: flex;
            }
        }

        &.rootCollapsed {
            .wmpotify-libx-sidebar-item-container,
            .wmpotify-libx-sidebar-downlevel {
                display: none;
            }
        }

        .wmpotify-libx-sidebar-item-container {
            margin-left: 19px;

            .wmpotify-libx-sidebar-chevron {
                position: absolute;
                margin-top: 3px;
                margin-left: -15px;
                width: 15px;
                height: 15px;
                background: url('resources/library/chevron.png') no-repeat;

                &:hover {
                    background-image: url('resources/library/chevron_hover.png');
                }
            }
        }

        &.rootCollapsed, .collapsed {
            .wmpotify-libx-sidebar-chevron {
                background-image: url('resources/library/chevron_collapsed.png');

                &:hover {
                    background-image: url('resources/library/chevron_collapsed_hover.png');
                }
            }
        }

        .wmpotify-libx-sidebar-item-container:first-child {
            display: block !important;
            margin-left: 0;
        }

        .wmpotify-libx-sidebar-downlevel {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 38px;
        }

        .collapsed + .wmpotify-libx-sidebar-downlevel {
            display: none;
        }
    }
}

#sort-and-view-picker {
    button:has(svg:not(:first-child)) {
        svg:first-child {
            display: none;
        }
    }
}

body[data-wmpotify-lib-page-open]:not(#Prio1):not(#Prio2):not(#Prio3) { /* dirty hack to increase specificity */
    #wmpotify-library-button {
        border-image-source: url('resources/topbar/tab_active.png');

        &:hover {
            border-image-source: url('resources/topbar/tab_active_hover.png');
        }

        &:active {
            border-image-source: url('resources/topbar/tab_active_pressed.png');
        }
    }

    #Desktop_LeftSidebar_Id {
        display: flex;
        width: 100vw;
        margin-left: calc(var(--panel-gap) * -1);
        margin-right: calc(var(--panel-gap) * -3);
        padding-top: 0;

        .main-yourLibraryX-header {
            display: none;
        }

        .main-yourLibraryX-library {
            border-radius: 0;
        }

        .LayoutResizer__resize-bar {
            display: none;
        }

        .search-searchCategory-contentArea {
            display: none;
        }
   
        .main-yourLibraryX-filterArea + div {
            margin-left: var(--libx-sidebar-width);
        }
    }
    
    .Root:has(.Root__right-sidebar aside) #Desktop_LeftSidebar_Id {
        width: calc(100vw - var(--panel-width, var(--right-sidebar-width)) * 1px - 2px);
        margin-right: calc(var(--panel-gap) * -2 + 2px);
    }

    .Root__main-view {
        width: 0;
    }

    .Root__right-sidebar {
        .LayoutResizer__resize-bar {
            /* Disallow right panel resizing when standlone libx is open as it's buggy */
            pointer-events: none;
        }
    }

    :root[data-wmpotify-style="xp"] & {
        #Desktop_LeftSidebar_Id {
            width: calc(100vw - var(--panel-gap) * 2);
            margin-left: 0;
        }

        .Root:has(.Root__right-sidebar aside) #Desktop_LeftSidebar_Id {
            width: calc(100vw - var(--panel-width, var(--right-sidebar-width)) * 1px - var(--panel-gap) * 2 - 2px);
        }
    }
}