.main-view-container__scroll-node-child:has(.main-yourLibraryX-libraryContainer) {
    height: 100%;
    padding-bottom: 0;
    > main {
        height: 100%;
        > section {
            height: 100%;
            .betterLibBox {
                height: 100%;
                > .main-yourLibraryX-libraryContainer {
                    height: 100%;
                }
            }
        }
    }
}

.main-yourLibraryX-libraryContainer {
    > div {
        box-shadow: none;
    }

    .main-yourLibraryX-filterArea {
        position: relative;
        width: 100%;
        height: 29px;
        border-bottom: solid 1px var(--wmp11-separator-shadow);
        outline: solid 1px var(--wmp11-separator-light);
        overflow: hidden;
        margin: 0;

        [role="search"] {
            margin: 2px;
            width: 225px;
            height: 24px;
            border: solid 1px #f4f7fc;
            background: linear-gradient(to bottom, #5e5f61, #c0c3c6);
            margin-top: -1px;

            .x-filterBox-filterInput {
                position: absolute;
                top: 0;
                margin: 1px;
                width: calc(100% - 2px);
                height: 20px;
                border: solid 1px white;
                background-color: #f6f9fc;
                font-size: 12px;
                border-radius: 0;
                min-height: 0;
                padding-inline: 4px;
                box-shadow: none;
                opacity: 1;
            }

            .x-filterBox-overlay {
                opacity: 1;

                .x-filterBox-searchIconContainer {
                    position: absolute;
                    top: 1px;
                    right: 0px;
                    width: 26px;
                    height: 20px;
                    border: none;
                    background: url('resources/topbar/search.png') no-repeat;
                }

                &:has(.x-filterBox-clearButton) .x-filterBox-searchIconContainer {
                    display: none;
                }

                .x-filterBox-clearButton {
                    position: absolute;
                    top: 1px;
                    right: 0px;
                    width: 26px;
                    height: 20px;
                    border: none;
                    background: url('resources/topbar/clear.png') no-repeat;

                    &:hover {
                        background: url('resources/topbar/clear_hover.png') no-repeat;
                    }

                    &:active {
                        background: url('resources/topbar/clear_pressed.png') no-repeat;
                    }
                }

                svg {
                    display: none;
                }
            }

            .x-filterBox-expandButton {
                display: none;
            }

            span, svg, input {
                color: var(--text-subdued);
            }
            input::placeholder {
                color: var(--gray-text);
                font-style: italic;
            }
        }

        [role="presentation"] {
            order: -1;

            [role="combobox"] {
                top: -3px;
                min-height: 0;
                color: black;
                padding: 0;
                opacity: 1 !important;
                transform: none !important;

                .encore-text {
                    order: 1;
                    font-size: 12px;
                }

                span:nth-child(2) {
                    width: 16px;
                    height: 16px;
                    margin-top: 1px;
                    margin-left: 2px;
                    margin-right: 3px;
                    background: url('resources/icon/list.png') no-repeat;

                    svg {
                        display: none;
                    }
                }

                &::after {
                    content: 'â·';
                    font-size: 12px;
                    color: black;
                    margin-top: -2px;
                    margin-left: 4px;
                    margin-right: -2px;
                    order: 2;
                    inline-size: unset;
                }
            }
        }
    }

    /* listview header */
    .main-yourLibraryX-filterArea + div {
        background: none !important;
        border-image: url('resources/ui/listview_header.png') 0 0 1 2 fill stretch;
        border-image-width: 0 0 1px 2px;
        box-shadow: var(--wmp11-separator-light) 0 -1px 0 0, var(--wmp11-separator-shadow) 0 -2px 0 0;
        height: 25px;
        grid-gap: 0;
        grid-template-columns: 0.74fr;
        margin: 0;

        > span {
            height: 25px;
            border-image: url('resources/ui/listview_header.png') 0 2 1 2 fill stretch;
            border-image-width: 0 2px 1px 2px;
            padding-left: 5px;
            color: #77797d;
            line-height: 2;
            font-size: 12px;
            font-weight: normal;

            &:last-child {
                margin-right: 100px;
            }
        }
    }

    &:has(.main-rootlist-wrapper[style*="row-height: 32"]) {
        .main-yourLibraryX-filterArea {
            [role="combobox"] {
                span:nth-child(2) {
                    background-image: url('resources/icon/compact.png');
                }
            }
        }
    }

    &:has(ul[role="treegrid"]) {
        .main-yourLibraryX-filterArea {
            [role="combobox"] {
                span:nth-child(2) {
                    background-image: url('resources/icon/grid.png');
                }
            }
        }
    }

    li[role="listitem"] div[data-encore-id="listRow"] {   
        border: solid 1px transparent;
        border-radius: 4px;

        &:hover {
            background: var(--item-hover-background);
            border-color: var(--item-hover-border);
        }

        &::after {
            display: none;
        }
    }
}

#sort-and-view-picker {
    button:has(svg:not(:first-child)) {
        svg:first-child {
            display: none;
        }
    }
}