:root {
    --album-art-placeholder: url('resources/sidebar/album_art_placeholder.png');
}

/* <aside aria-label="Queue" class="ffFwfKcPDbmAPLXzxzKq" id="Desktop_PanelContainer_Id" tabindex="-1"> */
.spotify-queue-panel > div {
    > div:first-child { /* panel header (tabs) */
        box-shadow: none; /* Hide the shadow when the queue panel is scrolled down */

        /* I just hid the tabs and put now playing view here just like WMP11 */
        > div:first-child {
            height: 136px;
        }

        #wmpotify-queue-npv {
            #wmpotify-queue-album-art {
                height: 97px;
                box-shadow: var(--album-shadow-big);
                position: absolute;
                top: 9px;
                left: 50%;
                transform: translateX(-50%);

                &[src*="data:image"] {
                    box-shadow: none;
                }
            }

            #wmpotify-queue-song-title {
                font-size: 12px;
                color: var(--wmp11-text-hilight);
                position: absolute;
                top: 110px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        div[role="tablist"] {
            display: none;
        }
    }

    /* <div data-overlayscrollbars-initialize="true" class="cZCuJDjrGA2QMXja_Sua" data-overlayscrollbars="host"> */
    #spotify-queue-panel-content {
        border-top: solid 1px var(--wmp11-separator-shadow);
        flex-direction: column !important;

        #wmpotify-queue-toolbar {
            border-top: solid 1px var(--wmp11-separator-light);
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            #wmpotify-queue-playlist-button {
                margin-top: 2px;
                margin-left: 2px;
                padding-left: 7px;
                line-height: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                .expandMark {
                    margin-left: 4px;
                }
            }

            #wmpotify-queue-clear-button {
                margin-top: 2px;
                margin-right: 2px;
                width: 27px;
                flex-shrink: 0;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 2px;
                    width: 16px;
                    height: 16px;
                    background: url('resources/sidebar/clear.png') no-repeat;
                }

                &:active {
                    background-position: 6px 4px;
                }

                &:disabled {
                    background-image: url('resources/sidebar/clear_disabled.png');
                }
            }
        }

        /* <div class="" data-overlayscrollbars-viewport="scrollbarHidden overflowXScroll overflowYScroll" tabindex="-1" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; top: 0px; right: auto; left: 0px; width: calc(100% + 0px); padding: 0px;"> */
        > div:nth-child(3) {
            overflow-x: hidden !important;

            > div {
                padding: 0 0 0 8px;
                > div {
                    padding-right: 0;
                }
            }
        }
    }

    #queue-panel,
    #history-panel {
        > div:first-child > div:first-child {
            gap: 0;
        }

        /* Nothing in queue message */
        > div:first-child:has(> svg:first-child) {
            height: 170px;

            svg {
                display: none;
            }

            div {
                h1 {
                    display: none;
                }

                p {
                    font-size: 12px;
                    color: black;
                }
            }

            a button span {
                display: inline;
                padding: 0;
                color: var(--hot-tracking-color);
                background: none;
                font-size: 12px;
                font-weight: normal;
                text-decoration: underline;
            }
        }

        .x-entityImage-imageContainer {
            display: none; /* Hide the album art */
        }

        div[data-flip-id*="section-header-"],
        div:has(> h2) { /* When device has a touch screen */
            display: none; /* Hide the 'Now playing' / 'Next from' title */
        }

        > div:first-child { /* Gap exists only when device has a touch screen */
            gap: 0;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .Column-lg {
            flex-direction: row;

            p:first-child {
                overflow: hidden;
            }

            span {
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            /* Music video indicator */
            p:last-child span:has(> svg) {
                display: none;
            }
        }

        li {
            height: var(--queue-item-height);

            &:hover {
                background-color: #d7dbe1;
            }

            &:focus-within {
                background-color: var(--hilight);

                * {
                    color: var(--hilight-text) !important;
                }

                p[data-encore-id="listRowSubtitle"]::before {
                    color: var(--hilight-text) !important;
                }
            }

            div[data-encore-id="listRow"]::after {
                display: none;
            }

            > div {
                display: inline;
                padding: 0;
            }

            div[role="button"],
            .HeaderArea {
                height: var(--queue-item-height);
                margin-top: -1px;
                margin-left: 1px;

                .encore-internal-color-text-bright-accent[data-encore-id="listRowTitle"] {
                    color: var(--wmp11-text-hilight);

                    &::before {
                        content: 'âµ';
                        position: absolute;
                        top: 1px;
                        left: -11px;
                        font-size: 12px;
                    }
                }

                p[data-encore-id="listRowSubtitle"] {
                    color: #77797d !important;
                    position: relative;

                    span:has(> a)::before {
                        content: '-';
                        float: left;
                        margin-left: 2px;
                        margin-right: 4px;
                        font-size: 12px;
                    }
                }

                div:first-child {
                    width: calc(100% - 50px);
                }

                div:nth-child(2) {
                    display: none;
                }

                .wmpotify-queue-duration {
                    font-size: 12px;
                    margin-right: 7px;
                }
            }

            p span {
                font-size: 12px !important;
            }

            svg {
                display: none !important;
            }

            /* Smart shuffle icon */
            svg:has(path[d="M1 0a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm7.975 4.287c1.268-.448 1.959-1.448 2.288-2.318.042-.113.432-.113.474 0 .33.87 1.02 1.87 2.288 2.318.113.04.113.386 0 .426-1.268.448-1.959 1.448-2.288 2.319-.042.112-.432.112-.474 0-.33-.87-1.02-1.871-2.288-2.319-.113-.04-.113-.386 0-.426zM1.893 9.33c2.347-.647 3.474-2.68 3.904-4.25.033-.118.373-.118.406 0 .43 1.57 1.557 3.603 3.904 4.25.115.032.115.308 0 .34-2.347.648-3.474 2.68-3.904 4.25-.033.118-.373.118-.406 0-.43-1.57-1.557-3.602-3.904-4.25-.115-.032-.115-.308 0-.34z"]) {
                display: block !important;
                transform: scale(0.9);
            }
        }
    }
}

.LayoutResizer__resize-bar.LayoutResizer__inline-start {
    opacity: 1 !important;
    width: 3px;
    inset-inline-start: -3px;
    border-left: solid 1px var(--wmp11-window);
    background-color: var(--wmp11-separator-shadow);
    border-right: solid 1px var(--wmp11-separator-light);
    cursor: ew-resize;

    &::after {
        display: none;
    }
}