:root[data-wmpotify-control-style="aero"] {
  button.wmpotify-aero,
  button.Button-sc-y0gtbx-0,
  .ReactModalPortal button.Button-sc-qlcn5g-0,
  .ReactModalPortal button.Button-sc-1dqy6lx-0,
  #context-menu button.Button-sc-1dqy6lx-0,
  #context-menu button.Button-sc-qlcn5g-0,
  .spicetify-exp-features button.reset:not(#Prio1):not(#Prio2) {
    box-sizing: border-box;
    border: var(--button-border);
    border-color: var(--button-border-color);
    border-radius: var(--border-radius);
    border-image: none !important;
    box-shadow: var(--button-shadow) !important;
    color: var(--button-text-color);
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
    text-align: center;
    background: var(--button-gradient);
    position: relative;
    z-index: 0;

    /* Button style on hovered */
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      border-radius: var(--border-radius);
      box-shadow: var(--button-shadow);
      background: var(--button-gradient-hovered);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: -1;
      border: none !important;
      right: unset;
      bottom: unset;
    }

    /* Button style on clicked */
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      top: 0;
      left: 0;
      box-shadow: var(--button-shadow-active);
      border-radius: 2px;
      background: var(--button-gradient-active);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: -1;
    }

    &:disabled {
      background: var(--button-face-disabled);
      border-color: var(--button-border-color-disabled);
      color: var(--button-text-color-disabled);
    }

    &:not(:disabled) {
      /* Animation when hovered */
      &:hover {
        border-color: var(--button-border-color-hovered);
        transition: border-color 0.3s;

        &::before {
          opacity: 1;
          transition: opacity 0.3s;
        }
      }

      /* Animation when unhovered */
      &:not(:hover) {
        border-color: var(--button-border-color);
        transition: border-color 1s linear;

        &::before {
          opacity: 0;
          transition: opacity 1s linear;
        }
      }

      &:active,
      &[data-active],
      &.active {
        border-color: var(--button-border-color-active);
        transition: border-color 0.3s;

        &::after {
          opacity: 1;
          transition: opacity 0.3s;
        }
      }
    }

    &:focus-visible,
    &.focused,
    &:has(.ButtonInner-medium) {
      box-shadow: inset 0 0 0 2px var(--button-shade-light-active);
      outline: 1px dotted var(--button-focus-outline-color);
      outline-offset: -4px;
    }

    &.default,
    &:focus,
    &.focused,
    &:has(.ButtonInner-medium),
    &:has(.ButtonInner-small) {
      border-color: var(--button-border-color-default);
      background-image: var(--button-gradient-hovered);
      animation: 1s ease infinite alternate pulse-anim;
    }
  }
}

@keyframes pulse-anim {
  from {
    box-shadow: inset 0 0 3px 1px #34deffdd;
  }
  to {
    box-shadow: inset 0 0 1px 1px #34deffdd;
  }
}
